USE [WSManagement]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON
INSERT [dbo].[Country] ([RowID], [No_], [Name]) VALUES (1, N'ALG', N'Algeria')
INSERT [dbo].[Country] ([RowID], [No_], [Name]) VALUES (2, N'ANH', N'Anh')
INSERT [dbo].[Country] ([RowID], [No_], [Name]) VALUES (3, N'ARG', N'Argentina')
SET IDENTITY_INSERT [dbo].[Country] OFF
/****** Object:  Table [dbo].[Company]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[RowID] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Name_2] [nvarchar](250) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Address_2] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](250) NOT NULL,
	[Phone_2] [nvarchar](250) NOT NULL,
	[Fax] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Website] [nvarchar](250) NOT NULL,
	[TaxCode] [nvarchar](50) NOT NULL,
	[BankAccount] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](250) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Company] ([RowID], [Name], [Name_2], [Address], [Address_2], [Phone], [Phone_2], [Fax], [Email], [Website], [TaxCode], [BankAccount], [BankName]) VALUES (1, N'CÔNG TY TNHH MT', N'', N'Q.7 HCM', N'', N'0933656707', N'', N'', N'', N'', N'', N' ', N' ')
/****** Object:  Table [dbo].[City]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON
INSERT [dbo].[City] ([RowID], [No_], [Name]) VALUES (2, N'ANGIANG', N'An Giang')
INSERT [dbo].[City] ([RowID], [No_], [Name]) VALUES (3, N'BACCAN', N'Bắc Cạn')
INSERT [dbo].[City] ([RowID], [No_], [Name]) VALUES (4, N'BACGIANG', N'Bắc Giang')
SET IDENTITY_INSERT [dbo].[City] OFF
/****** Object:  Table [dbo].[CellDetail]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CellDetail](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentNo_] [nvarchar](50) NOT NULL,
	[DocumentType] [int] NOT NULL,
	[CustomerNo_] [nvarchar](50) NOT NULL,
	[CellNo_] [nvarchar](50) NOT NULL,
	[PalletNo_] [nvarchar](50) NOT NULL,
	[LockPallet] [int] NULL,
	[ItemNo_] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Quantity] [decimal](18, 4) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[QtyperUnit] [int] NULL,
	[QtytoPakge] [decimal](18, 4) NULL,
	[UnittoPakge] [nvarchar](50) NULL,
	[PriceImport] [decimal](18, 4) NULL,
	[NetWeight] [decimal](18, 4) NOT NULL,
	[TotalNet] [decimal](18, 4) NOT NULL,
	[GrossWeight] [decimal](18, 4) NOT NULL,
	[TotalGross] [decimal](18, 4) NOT NULL,
	[ExpiryDate] [datetime] NULL,
	[PostingDate] [datetime] NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_CellDetail] PRIMARY KEY CLUSTERED 
(
	[DocumentNo_] ASC,
	[PalletNo_] ASC,
	[ItemNo_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cell]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cell](
	[RowID] [int] NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[LineNo_] [nvarchar](50) NOT NULL,
	[FloorNo_] [int] NOT NULL,
	[IndexNo_] [int] NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[LocationNo_] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[Lock] [int] NULL,
 CONSTRAINT [PK_Cell] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cell] ([RowID], [No_], [LineNo_], [FloorNo_], [IndexNo_], [Position], [LocationNo_], [Status], [Lock]) VALUES (2594, N'A101N', N'A', 1, 1, N'N', N'KHO3', 1, NULL)
INSERT [dbo].[Cell] ([RowID], [No_], [LineNo_], [FloorNo_], [IndexNo_], [Position], [LocationNo_], [Status], [Lock]) VALUES (2593, N'A101T', N'A', 1, 1, N'T', N'KHO3', 1, NULL)
INSERT [dbo].[Cell] ([RowID], [No_], [LineNo_], [FloorNo_], [IndexNo_], [Position], [LocationNo_], [Status], [Lock]) VALUES (2606, N'A102N', N'A', 1, 2, N'N', N'KHO3', 2, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
/****** Object:  Table [dbo].[Customer]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[No_2] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NOT NULL,
	[SearchName] [nvarchar](250) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[TaxCode] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Website] [nvarchar](250) NULL,
	[Contact] [nvarchar](250) NULL,
	[ContactPhone] [nvarchar](50) NULL,
	[PostingDate] [datetime] NULL,
	[UserID] [nvarchar](250) NULL,
	[Status] [int] NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON
INSERT [dbo].[Customer] ([RowID], [No_], [No_2], [Name], [SearchName], [Address], [Country], [City], [Phone], [Fax], [TaxCode], [Email], [Website], [Contact], [ContactPhone], [PostingDate], [UserID], [Status], [Type]) VALUES (438, N'KH0001', N'', N'CÔNG TY ABC', N'ABC', N'Nguyen Kiem', N'ALG', N'TPHCM', N'23', N'12', N'', N'3', N'2', N'1', N'12', CAST(0x0000A67101887173 AS DateTime), N'admin', 1, 0)
INSERT [dbo].[Customer] ([RowID], [No_], [No_2], [Name], [SearchName], [Address], [Country], [City], [Phone], [Fax], [TaxCode], [Email], [Website], [Contact], [ContactPhone], [PostingDate], [UserID], [Status], [Type]) VALUES (439, N'KH0002', N'', N'CÔNG TY TNHH MỘT THÀNH VIÊN MT', N'MT', N'Q.7', N'VN', N'TPHCM', N'', N'', N'', N'', N'', N'', N'', CAST(0x0000A64D00000000 AS DateTime), N'Admin', 0, 0)
SET IDENTITY_INSERT [dbo].[Customer] OFF
/****** Object:  Table [dbo].[Currency]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Currency](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Currency] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Currency] ON
INSERT [dbo].[Currency] ([RowID], [No_], [Name]) VALUES (1, N'USD', N'USD')
INSERT [dbo].[Currency] ([RowID], [No_], [Name]) VALUES (2, N'VND', N'VND')
SET IDENTITY_INSERT [dbo].[Currency] OFF
/****** Object:  Table [dbo].[Department]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON
INSERT [dbo].[Department] ([RowID], [No_], [Name]) VALUES (1, N'GD', N'Ban Giám Đốc')
INSERT [dbo].[Department] ([RowID], [No_], [Name]) VALUES (2, N'KD', N'Phòng Kinh Doanh')
INSERT [dbo].[Department] ([RowID], [No_], [Name]) VALUES (3, N'KHO1', N'Kho')
SET IDENTITY_INSERT [dbo].[Department] OFF
/****** Object:  Table [dbo].[Employee]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[No_2] [nvarchar](50) NULL,
	[LastName] [nvarchar](250) NOT NULL,
	[FirstName] [nvarchar](250) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[BirthDate] [datetime] NULL,
	[PlaceOfBirth] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[City] [nvarchar](50) NULL,
	[JobTitle] [nvarchar](250) NULL,
	[Department] [nvarchar](250) NULL,
	[IDCard] [nvarchar](50) NULL,
	[DateOfIssue] [datetime] NULL,
	[PlaceOfIssue] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Picture] [image] NULL,
	[CreateDate] [datetime] NULL,
	[Login] [nvarchar](50) NULL,
	[MarialStatus] [nvarchar](250) NULL,
	[HireDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Employee] OFF
/****** Object:  Table [dbo].[Developers]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Developers](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](250) NOT NULL,
	[Fax] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Website] [nvarchar](250) NOT NULL,
	[TaxCode] [nvarchar](50) NOT NULL,
	[BankAccount] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](250) NOT NULL,
	[CreateDate] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Developers] ON
INSERT [dbo].[Developers] ([RowID], [Name], [Description], [Address], [Phone], [Fax], [Email], [Website], [TaxCode], [BankAccount], [BankName], [CreateDate]) VALUES (1, N'Võ Minh Thuận', N'Phần mềm được viết bởi Võ Minh Thuận IT', N'HCM', N'0933 656 707', N'', N'vominhthuanit@gmail.com', N'', N'', N'', N'', CAST(0x0000A65400000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Developers] OFF
/****** Object:  Table [dbo].[Item]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[No_2] [nvarchar](250) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[NameEn] [nvarchar](250) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](250) NOT NULL,
	[SearchName] [nvarchar](250) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[qtyPerUnit] [decimal](18, 4) NULL,
	[UnitDetail] [nvarchar](50) NULL,
	[ItemGroup] [nvarchar](50) NOT NULL,
	[NetWeight] [decimal](18, 4) NOT NULL,
	[GrossWeight] [decimal](18, 4) NULL,
	[Description] [nvarchar](250) NOT NULL,
	[PostingDate] [datetime] NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
	[Status] [int] NOT NULL,
	[UnitImport] [nvarchar](50) NULL,
	[UnitExport] [nvarchar](50) NULL,
	[UnitStock] [nvarchar](50) NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON
INSERT [dbo].[Item] ([RowID], [No_], [No_2], [Name], [NameEn], [Type], [Size], [SearchName], [Unit], [qtyPerUnit], [UnitDetail], [ItemGroup], [NetWeight], [GrossWeight], [Description], [PostingDate], [UserID], [Status], [UnitImport], [UnitExport], [UnitStock]) VALUES (2, N'SP0001', N'', N'Áo thun nam', N'', N'1', N'', N'2', N'BAO', CAST(1.0000 AS Decimal(18, 4)), N'Bao', N'GR001', CAST(12.0000 AS Decimal(18, 4)), CAST(1.0000 AS Decimal(18, 4)), N'', CAST(0x0000A670016F445F AS DateTime), N'admin', 1, N'', N'', N'')
INSERT [dbo].[Item] ([RowID], [No_], [No_2], [Name], [NameEn], [Type], [Size], [SearchName], [Unit], [qtyPerUnit], [UnitDetail], [ItemGroup], [NetWeight], [GrossWeight], [Description], [PostingDate], [UserID], [Status], [UnitImport], [UnitExport], [UnitStock]) VALUES (3, N'SP0002', N'', N'Áo thun nữ', N'', N'1', N'', N'3', N'BAO', CAST(1.0000 AS Decimal(18, 4)), N'Bao', N'GR002', CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'', CAST(0x0000A6710003221F AS DateTime), N'admin', 1, N'', N'', N'')
INSERT [dbo].[Item] ([RowID], [No_], [No_2], [Name], [NameEn], [Type], [Size], [SearchName], [Unit], [qtyPerUnit], [UnitDetail], [ItemGroup], [NetWeight], [GrossWeight], [Description], [PostingDate], [UserID], [Status], [UnitImport], [UnitExport], [UnitStock]) VALUES (4, N'SP0003', N'', N'Bàn -  ( 650 x 650 x 480 mm )', N'', N'', N'', N'4', N'BAO', CAST(1.0000 AS Decimal(18, 4)), N'Bao', N'GR001', CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), N'', CAST(0x0000A64800000000 AS DateTime), N'thuavm', 0, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Item] OFF
/****** Object:  Table [dbo].[GroupUser]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupUser](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[GroupGrant] [int] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_GroupUser] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GroupUser] ON
INSERT [dbo].[GroupUser] ([RowID], [No_], [Name], [GroupGrant], [Description]) VALUES (1, N'ADMIN', N'QUANTRI', 2, N'')
INSERT [dbo].[GroupUser] ([RowID], [No_], [Name], [GroupGrant], [Description]) VALUES (2, N'IT', N'IT', 1, N'')
INSERT [dbo].[GroupUser] ([RowID], [No_], [Name], [GroupGrant], [Description]) VALUES (3, N'KDOANH', N'KINHDOANH', 1, N'')
SET IDENTITY_INSERT [dbo].[GroupUser] OFF
/****** Object:  Table [dbo].[GroupFunction]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupFunction](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](250) NOT NULL,
	[FormName] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Module] [nvarchar](250) NOT NULL,
	[IsReadOnly] [int] NULL,
	[SecurityButton] [nvarchar](max) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GroupFunction] ON
INSERT [dbo].[GroupFunction] ([RowID], [GroupName], [FormName], [Description], [Module], [IsReadOnly], [SecurityButton]) VALUES (1, N'ADMIN', N'frmUser', N'Phân quyền người dùng', N'', 0, NULL)
INSERT [dbo].[GroupFunction] ([RowID], [GroupName], [FormName], [Description], [Module], [IsReadOnly], [SecurityButton]) VALUES (2, N'ADMIN', N'frmFileLog', N'Lịch sử phần mềm', N'', 0, N'')
INSERT [dbo].[GroupFunction] ([RowID], [GroupName], [FormName], [Description], [Module], [IsReadOnly], [SecurityButton]) VALUES (3, N'ADMIN', N'frmJournalEntryReceive', N'Nhập kho-Nhật ký nhập kho', N'', 0, N'')
SET IDENTITY_INSERT [dbo].[GroupFunction] OFF
/****** Object:  Table [dbo].[FileLog]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileLog](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nchar](50) NULL,
	[DocumentDate] [datetime] NULL,
	[DocumentTime] [datetime] NULL,
	[Description] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExchangeRate]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangeRate](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyCode] [nvarchar](50) NOT NULL,
	[StartingDate] [datetime] NOT NULL,
	[RelationCurrencyCode] [nvarchar](50) NOT NULL,
	[ExchRateAmount] [decimal](18, 3) NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ExchangeRate] PRIMARY KEY CLUSTERED 
(
	[CurrencyCode] ASC,
	[StartingDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExchangeRate] ON
INSERT [dbo].[ExchangeRate] ([RowID], [CurrencyCode], [StartingDate], [RelationCurrencyCode], [ExchRateAmount], [UserID]) VALUES (2, N'USD', CAST(0x0000A63600000000 AS DateTime), N'VND', CAST(21560.000 AS Decimal(18, 3)), N'Admin')
INSERT [dbo].[ExchangeRate] ([RowID], [CurrencyCode], [StartingDate], [RelationCurrencyCode], [ExchRateAmount], [UserID]) VALUES (1, N'VND', CAST(0x0000A63600000000 AS DateTime), N'VND', CAST(1.000 AS Decimal(18, 3)), N'Admin')
SET IDENTITY_INSERT [dbo].[ExchangeRate] OFF
/****** Object:  Table [dbo].[Login]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[GroupUser] [nvarchar](250) NOT NULL,
	[IsUsed] [int] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Login] ON
INSERT [dbo].[Login] ([RowID], [Username], [Password], [UserID], [GroupUser], [IsUsed]) VALUES (1, N'Admin', N'123', N'NV001', N'ADMIN', 1)
INSERT [dbo].[Login] ([RowID], [Username], [Password], [UserID], [GroupUser], [IsUsed]) VALUES (101, N'thuanvm', N'123', N'IT004', N'IT', 1)
INSERT [dbo].[Login] ([RowID], [Username], [Password], [UserID], [GroupUser], [IsUsed]) VALUES (63, N'user', N'123', N'TK03', N'NVKHO', 1)
SET IDENTITY_INSERT [dbo].[Login] OFF
/****** Object:  Table [dbo].[Location]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[LocationType] [int] NULL,
	[Description] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Location] ON
INSERT [dbo].[Location] ([RowID], [No_], [Name], [LocationType], [Description]) VALUES (1, N'KHO1', N'Kho 1', 0, N'')
SET IDENTITY_INSERT [dbo].[Location] OFF
/****** Object:  Table [dbo].[JournalReceiveLine]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalReceiveLine](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[ItemNo_] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[LotNo_] [nvarchar](50) NULL,
	[Quantity] [decimal](18, 4) NULL,
	[Unit] [nvarchar](50) NULL,
	[QtyperUnit] [int] NULL,
	[QtytoPakge] [int] NULL,
	[UnitPakge] [int] NULL,
	[UnitPrice] [decimal](18, 4) NOT NULL,
	[VAT%] [decimal](18, 4) NOT NULL,
	[LineDistcount%] [decimal](18, 4) NOT NULL,
	[QtyInPallet] [int] NOT NULL,
	[NetWeight] [decimal](18, 4) NOT NULL,
	[TotalNet] [decimal](18, 4) NOT NULL,
	[GrossWeight] [decimal](18, 4) NULL,
	[TotalGross] [decimal](18, 4) NULL,
	[ExpiryDate] [datetime] NULL,
	[Description] [nvarchar](250) NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
	[Status] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[PostingDate] [datetime] NULL,
	[CustomDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalReceiveHeader]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalReceiveHeader](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[DocumentNo_] [nvarchar](250) NOT NULL,
	[CustomerNo_] [nvarchar](50) NOT NULL,
	[PostingDate] [datetime] NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[Deliver] [nvarchar](250) NOT NULL,
	[CarType] [nvarchar](50) NULL,
	[CarNo_] [nvarchar](50) NOT NULL,
	[Driver] [nvarchar](250) NOT NULL,
	[DocumentType] [int] NOT NULL,
	[EmployeeNo_] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
	[LocationNo_] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_JournalReceiveHeader_1] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalExportLine]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalExportLine](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentNo_] [nvarchar](50) NOT NULL,
	[ItemNo_] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[qtyStock] [decimal](18, 3) NOT NULL,
	[Quantity] [decimal](18, 3) NULL,
	[Unit] [nvarchar](50) NULL,
	[qtyperUnit] [decimal](18, 3) NULL,
	[qtytoPakge] [decimal](18, 3) NULL,
	[UnittoPakge] [nvarchar](50) NULL,
	[UnitPrice] [decimal](18, 4) NOT NULL,
	[VAT%] [decimal](18, 4) NOT NULL,
	[LineDiscount%] [decimal](18, 4) NOT NULL,
	[NetWeight] [decimal](18, 4) NOT NULL,
	[TotalNet] [decimal](18, 4) NOT NULL,
	[PalletNo_] [nvarchar](50) NOT NULL,
	[CellNo_] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[PostingDate] [datetime] NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
	[Status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalExportHeader]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalExportHeader](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[DocumentNo_] [nvarchar](250) NOT NULL,
	[CustomerNo_] [nvarchar](50) NOT NULL,
	[PostingDate] [datetime] NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[DocumentType] [int] NULL,
	[Receiver] [nvarchar](250) NOT NULL,
	[CarNo_] [nvarchar](50) NOT NULL,
	[CarType] [nvarchar](50) NOT NULL,
	[Driver] [nvarchar](250) NOT NULL,
	[Location] [nvarchar](250) NULL,
	[ReasonCode] [nvarchar](250) NOT NULL,
	[EmployeeNo_] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_JournalExportHeader] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalEntry]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalEntry](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentType] [int] NOT NULL,
	[DocumentNo_] [nvarchar](50) NOT NULL,
	[CustomerNo_] [nvarchar](50) NOT NULL,
	[ItemNo_] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[UnitPrice] [decimal](18, 3) NOT NULL,
	[QtyperUnit] [int] NULL,
	[QtytoPakge] [decimal](18, 4) NULL,
	[UnittoPakge] [nvarchar](50) NULL,
	[NetWeight] [decimal](18, 4) NOT NULL,
	[TotalNet] [decimal](18, 4) NOT NULL,
	[GrossWeight] [decimal](18, 4) NOT NULL,
	[TotalGross] [decimal](18, 4) NOT NULL,
	[Amount] [decimal](18, 4) NOT NULL,
	[VAT%] [decimal](18, 4) NOT NULL,
	[LineDiscount%] [decimal](18, 4) NOT NULL,
	[TotalAmount] [decimal](18, 4) NOT NULL,
	[PalletNo_] [nvarchar](50) NOT NULL,
	[CellNo_] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[ExpiryDate] [datetime] NULL,
	[DocumentDate] [datetime] NOT NULL,
	[PostingDate] [datetime] NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
	[Status] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTitle]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobTitle](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_JobTitle] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[JobTitle] ON
INSERT [dbo].[JobTitle] ([RowID], [No_], [Name]) VALUES (3, N'GIAMDOC', N'Giám Đốc')
INSERT [dbo].[JobTitle] ([RowID], [No_], [Name]) VALUES (1, N'NHANVIEN', N'Nhân viên')
INSERT [dbo].[JobTitle] ([RowID], [No_], [Name]) VALUES (4, N'PHOGIAMDOC', N'Phó Giám Đốc')
SET IDENTITY_INSERT [dbo].[JobTitle] OFF
/****** Object:  Table [dbo].[Supplier]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Supplier](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[No_2] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NOT NULL,
	[SearchName] [nvarchar](250) NULL,
	[Country] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Website] [nvarchar](250) NULL,
	[Contact] [nvarchar](250) NULL,
	[ContactPhone] [nvarchar](50) NULL,
	[PostingDate] [datetime] NULL,
	[UserID] [nvarchar](250) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON
INSERT [dbo].[Supplier] ([RowID], [No_], [No_2], [Name], [SearchName], [Country], [Address], [Phone], [Fax], [Email], [Website], [Contact], [ContactPhone], [PostingDate], [UserID], [Status]) VALUES (3, N'S0003', N' Name', N'S0003 Name', N'', N'', N'e', N'123456789', N'', N'email@gmail.com', N'', N'', N'', CAST(0x0000A66C00000000 AS DateTime), N'admin', 1)
INSERT [dbo].[Supplier] ([RowID], [No_], [No_2], [Name], [SearchName], [Country], [Address], [Phone], [Fax], [Email], [Website], [Contact], [ContactPhone], [PostingDate], [UserID], [Status]) VALUES (4, N'S0004', N' Name', N'S0004 Name', N'ass', N'ALG', N'e', N'123456789', N'ss', N'email@gmail.com', N'ss', N'asd', N'asdasd', CAST(0x0000A66F01639B4B AS DateTime), N'admin', 1)
INSERT [dbo].[Supplier] ([RowID], [No_], [No_2], [Name], [SearchName], [Country], [Address], [Phone], [Fax], [Email], [Website], [Contact], [ContactPhone], [PostingDate], [UserID], [Status]) VALUES (5, N'S0005', N' Name', N'S0005 Name', N'', N'', N'e', N'123456789', N'', N'email@gmail.com', N'', N'', N'', CAST(0x0000A66E00000000 AS DateTime), N'admin', 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Supplier] OFF
/****** Object:  Table [dbo].[QtyperUnit]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QtyperUnit](
	[RowID] [int] NULL,
	[ItemNo_] [varchar](50) NULL,
	[Unit] [varchar](50) NULL,
	[QtyperUnit] [decimal](18, 4) NULL,
	[DocumentType] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Value] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_Parameters] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Parameters] ON
INSERT [dbo].[Parameters] ([RowID], [No_], [Name], [Value]) VALUES (2, N'VERSION', N'1.0.1.171', CAST(1011.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[Parameters] OFF
/****** Object:  Table [dbo].[NoSeriesLine]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoSeriesLine](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[SeriesCode] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[StartingNo] [nvarchar](50) NOT NULL,
	[EndingNo] [int] NOT NULL,
	[ImcrementNo] [int] NOT NULL,
	[LastNoUsed] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NoSeriesLine] ON
INSERT [dbo].[NoSeriesLine] ([RowID], [SeriesCode], [Code], [Description], [StartingNo], [EndingNo], [ImcrementNo], [LastNoUsed]) VALUES (1, N'KH', N'KH01', N'Khách Hàng', N'KH', 9999, 1, 0)
INSERT [dbo].[NoSeriesLine] ([RowID], [SeriesCode], [Code], [Description], [StartingNo], [EndingNo], [ImcrementNo], [LastNoUsed]) VALUES (4, N'NV', N'NV01', N'Nhân viên', N'NV', 9999, 1, 0)
INSERT [dbo].[NoSeriesLine] ([RowID], [SeriesCode], [Code], [Description], [StartingNo], [EndingNo], [ImcrementNo], [LastNoUsed]) VALUES (31, N'PN', N'PN11-01', N'Phiếu nhập kho', N'PN16/', 999999, 1, 0)
SET IDENTITY_INSERT [dbo].[NoSeriesLine] OFF
/****** Object:  Table [dbo].[MainFunction]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainFunction](
	[RowID] [int] NOT NULL,
	[FormName] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Module] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_MainFunction] PRIMARY KEY CLUSTERED 
(
	[FormName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MainFunction] ([RowID], [FormName], [Description], [Module]) VALUES (1, N'frmBackupDatabase', N'Sao lưu dữ liệu', N'')
INSERT [dbo].[MainFunction] ([RowID], [FormName], [Description], [Module]) VALUES (2, N'frmCellPaging', N'Cài đặt-Danh sách ô', N'')
INSERT [dbo].[MainFunction] ([RowID], [FormName], [Description], [Module]) VALUES (3, N'frmCity', N'Cài đặt-Tỉnh/Thành phố', N'')
/****** Object:  Table [dbo].[LotNo]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotNo](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[ItemNo_] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_LotNo] PRIMARY KEY CLUSTERED 
(
	[Name] ASC,
	[ItemNo_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemGroup]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemGroup](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ItemGroup] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ItemGroup] ON
INSERT [dbo].[ItemGroup] ([RowID], [No_], [Name]) VALUES (1, N'GR001', N'Nhóm 1')
INSERT [dbo].[ItemGroup] ([RowID], [No_], [Name]) VALUES (2, N'GR002', N'Nhóm 2')
SET IDENTITY_INSERT [dbo].[ItemGroup] OFF
/****** Object:  Table [dbo].[UnitOfMeasure]    Script Date: 08/29/2016 23:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasure](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_UnitOfMeasure] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] ON
INSERT [dbo].[UnitOfMeasure] ([RowID], [No_], [Name]) VALUES (43, N'BAO', N'Bao')
INSERT [dbo].[UnitOfMeasure] ([RowID], [No_], [Name]) VALUES (98, N'BAP', N'BẮP')
INSERT [dbo].[UnitOfMeasure] ([RowID], [No_], [Name]) VALUES (44, N'BICH', N'Bịch')
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] OFF
/****** Object:  StoredProcedure [dbo].[UnitOfMeasure_GetList]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UnitOfMeasure_GetList]
AS
BEGIN
	SELECT * FROM UnitOfMeasure
END
GO
/****** Object:  StoredProcedure [dbo].[Supplier_Update]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[Supplier_Update]
@No_ NVarChar(100),
@No_2 NVarChar(100),
@Name NVarChar(200),
@SearchName NVarChar(100),
@Country NVarChar(100),
@Address NVarChar(250),
@Phone NVarChar(100),
@Fax NVarChar(100),
@Email NVarChar(100),
@Website NVarChar(100),
@Contact NVarChar(100),
@ContactPhone NVarChar(100),
@PostingDate Datetime,
@UserID NVarChar(100),
@Status int
AS
BEGIN
	UPDATE Supplier
	SET Name=@Name,
		SearchName=@SearchName,
		Country=@Country,
		Address=@Address,
		Phone=@Phone,
		Fax=@Fax,
		Email=@Email,
		Website=@Website,
		Contact=@Contact,
		ContactPhone=@ContactPhone,
		PostingDate=@PostingDate,
		UserID=@UserID
	WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Supplier_Insert]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Supplier_Insert]
@No_ NVarChar(100),
@No_2 NVarChar(100),
@Name NVarChar(200),
@SearchName NVarChar(100),
@Country NVarChar(100),
@Address NVarChar(250),
@Phone NVarChar(100),
@Fax NVarChar(100),
@Email NVarChar(100),
@Website NVarChar(100),
@Contact NVarChar(100),
@ContactPhone NVarChar(100),
@PostingDate Datetime,
@UserID NVarChar(100),
@Status int
AS
BEGIN
INSERT Supplier (No_,No_2,Name,SearchName,Country,Address,Phone,Fax,Email,Website,Contact,ContactPhone,PostingDate,UserID,Status)
Values (@No_,@No_2,@Name,@SearchName,@Country,@Address,@Phone,@Fax,@Email,@Website,@Contact,@ContactPhone,GETDATE(),@UserID,@Status)
END
GO
/****** Object:  StoredProcedure [dbo].[Supplier_GetList]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Supplier_GetList]
AS
BEGIN
	SELECT [RowID]
      ,[No_]
      ,[No_2]
      ,[Name]
      ,[SearchName]
      ,[Country]
      ,[Address] 
      ,[Phone]
      ,[Fax] 
      ,[Email]
      ,[Website]
      ,[Contact]
      ,[ContactPhone]
      ,[PostingDate]
      ,[UserID]
      ,[Status] 
  FROM [dbo].[Supplier]
END
GO
/****** Object:  StoredProcedure [dbo].[Supplier_Delete]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Supplier_Delete]
@No_ nvarchar(50)
AS
BEGIN
	delete Supplier where No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Item_Update]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Item_Update]
@No_ NVarchar(150),
@No_2 NVarchar(150),
@Name NVarchar(150),
@NameEn NVarchar(150),
@Type numeric,
@Size NVarchar(150),
@SearchName NVarchar(150),
@Unit NVarchar(150),
@qtyPerUnit decimal(18,4),
@UnitDetail NVarchar(150),
@ItemGroup NVarchar(150),
@NetWeight decimal(18,4),
@GrossWeight decimal(18,4),
@Description NVarchar(150),
@PostingDate datetime,
@UserID NVarchar(150),
@Status numeric,
@UnitImport NVarchar(150),
@UnitExport NVarchar(150),
@UnitStock NVarchar(150)
AS
BEGIN
UPDATE Item 
SET  No_2 = 	@No_2,
	 Name = 	@Name,
	 NameEn = 	@NameEn,
	 Type = 	@Type,
	 Size = 	@Size,
	 SearchName = 	@SearchName,
	 Unit = 	@Unit,
	 qtyPerUnit = 	@qtyPerUnit,
	 UnitDetail = 	@UnitDetail,
	 ItemGroup = 	@ItemGroup,
	 NetWeight = 	@NetWeight,
	 GrossWeight = 	@GrossWeight,
	 Description = 	@Description,
	 PostingDate = 	@PostingDate,
	 UserID = 	@UserID,
	 Status = 	@Status,
	 UnitImport = 	@UnitImport,
	 UnitExport = 	@UnitExport,
	 UnitStock = 	@UnitStock
WHERE No_ = @No_
	
END
GO
/****** Object:  StoredProcedure [dbo].[Item_Insert]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Item_Insert]
@No_ NVarchar(150),
@No_2 NVarchar(150),
@Name NVarchar(150),
@NameEn NVarchar(150),
@Type numeric,
@Size NVarchar(150),
@SearchName NVarchar(150),
@Unit NVarchar(150),
@qtyPerUnit decimal(18,4),
@UnitDetail NVarchar(150),
@ItemGroup NVarchar(150),
@NetWeight decimal(18,4),
@GrossWeight decimal(18,4),
@Description NVarchar(150),
@PostingDate datetime,
@UserID NVarchar(150),
@Status numeric,
@UnitImport NVarchar(150),
@UnitExport NVarchar(150),
@UnitStock NVarchar(150)
AS
BEGIN
INSERT Item(No_,No_2,Name,NameEn,Type,Size,SearchName,Unit,qtyPerUnit,UnitDetail,ItemGroup
			,NetWeight,GrossWeight,Description,PostingDate,UserID,Status,UnitImport,UnitExport,UnitStock)
VALUES (@No_,@No_2,@Name,@NameEn,@Type,@Size,@SearchName,@Unit,@qtyPerUnit,@UnitDetail,@ItemGroup
		,@NetWeight,@GrossWeight,@Description,@PostingDate,@UserID,@Status,@UnitImport,@UnitExport,@UnitStock)			
END
GO
/****** Object:  StoredProcedure [dbo].[Item_GetList]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Item_GetList]
AS
BEGIN
	SELECT * FROM Item
END
GO
/****** Object:  StoredProcedure [dbo].[Login2System]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Login2System]
@username varchar(20),
@password varchar(20)
AS
BEGIN
	select * from [Login] where Username=@username and [Password]=@password and IsUsed=1	 
END
GO
/****** Object:  StoredProcedure [dbo].[ItemGroup_GetList]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ItemGroup_GetList]
AS
BEGIN 
	SELECT * FROM ItemGroup
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_Update]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Employee_Update]
@No_ varchar(50) ,
@No_2 nvarchar(50) ,
@LastName nvarchar(250) ,
@FirstName nvarchar(250) ,
@FullName nvarchar(250) ,
@Gender nvarchar(50) ,
@BirthDate datetime ,
@PlaceOfBirth nvarchar(50) ,
@Address nvarchar(250) ,
@City nvarchar(50) , 
@JobTitle nvarchar(250) ,
@Department nvarchar(250) , 
@IDCard nvarchar(50) ,
@DateOfIssue datetime ,
@PlaceOfIssue nvarchar(50) ,
@Phone nvarchar(50) ,
@Fax nvarchar(50) ,
@Email nvarchar(250) ,
--@Picture image,
@CreateDate datetime,
@Login nvarchar(250), 
@MarialStatus nvarchar(250), 
@HireDate datetime, 
@Status int  
As
BEGIN 
	UPDATE Employee
	SET	[No_2]			= @No_2,
		[LastName]		= @LastName,
		[FirstName]		= @FirstName,
		[FullName]		= @FullName,
		[Gender]		= @Gender,
		[BirthDate]		= @BirthDate,
		[PlaceOfBirth]	= @PlaceOfBirth,
		[Address]		= @Address,
		[City]			= @City,
		[JobTitle]		= @JobTitle,
		[Department]	= @Department,
		[IDCard]		= @IDCard,
		[DateOfIssue]	= @DateOfIssue,
		[PlaceOfIssue]	= @PlaceOfIssue,
		[Phone]			= @Phone,
		[Fax]			= @Fax,
		[Email]			= @Email,
		--[Picture]		= @Picture,
		[CreateDate]	= @CreateDate,
		[Login]			= @Login,
		[MarialStatus]	= @MarialStatus,
		[HireDate]		= @HireDate,
		[Status]		= @Status
		WHERE [No_]		= @No_
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_Insert]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Employee_Insert]
@No_ varchar(50) ,
@No_2 nvarchar(50) ,
@LastName nvarchar(250) ,
@FirstName nvarchar(250) ,
@FullName nvarchar(250) ,
@Gender nvarchar(50) ,
@BirthDate datetime ,
@PlaceOfBirth nvarchar(50) ,
@Address nvarchar(250) ,
@City nvarchar(50) , 
@JobTitle nvarchar(250) ,
@Department nvarchar(250) , 
@IDCard nvarchar(50) ,
@DateOfIssue datetime ,
@PlaceOfIssue nvarchar(50) ,
@Phone nvarchar(50) ,
@Fax nvarchar(50) ,
@Email nvarchar(250) ,
--@Picture image,
@CreateDate datetime,
@Login nvarchar(250), 
@MarialStatus nvarchar(250), 
@HireDate datetime, 
@Status int  
As
BEGIN 
	INSERT Employee(No_
      ,No_2
      ,LastName
      ,FirstName
      ,FullName
      ,Gender
      ,BirthDate
      ,PlaceOfBirth
      ,Address
      ,City
      ,JobTitle
      ,Department
      ,IDCard
      ,DateOfIssue
      ,PlaceOfIssue
      ,Phone
      ,Fax
      ,Email
      --,Picture
      ,CreateDate
      ,Login
      ,MarialStatus
      ,HireDate
      ,Status)
	VALUES(@No_
      ,@No_2
      ,@LastName
      ,@FirstName
      ,@FullName
      ,@Gender
      ,@BirthDate
      ,@PlaceOfBirth
      ,@Address
      ,@City
      ,@JobTitle
      ,@Department
      ,@IDCard
      ,@DateOfIssue
      ,@PlaceOfIssue
      ,@Phone
      ,@Fax
      ,@Email
      --,@Picture
      ,@CreateDate
      ,@Login
      ,@MarialStatus
      ,@HireDate
      ,@Status)
	
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_GetList]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Employee_GetList]

As
BEGIN 
	SELECT * FROM Employee
	
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_Delete]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Employee_Delete]
@No_ nvarchar(50)
AS
BEGIN
	delete Employee where No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Department_GetList]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Department_GetList]
AS
BEGIN
	select * from Department
END
GO
/****** Object:  StoredProcedure [dbo].[Customer_Update]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Customer_Update]
      @No_ varchar(100),
      @No_2 varchar(100),
      @Name  nvarchar(100),
      @SearchName  nvarchar(100),
      @Address  nvarchar(100),
      @Country  nvarchar(100), 
      @Phone  nvarchar(100),
      @Fax  nvarchar(100), 
      @Email  nvarchar(100),
      @Website  nvarchar(100),
      @Contact  nvarchar(100),
      @ContactPhone  nvarchar(100),
      @PostingDate datetime,
      @UserID  nvarchar(100),
      @Status  numeric
AS
BEGIN
	UPDATE Customer
	SET No_2	=	@No_2,
		Name	=	@Name,
		SearchName	= @SearchName,
		Address		=	@Address,
		Country		= @Country, 
		Phone		= @Phone,
		Fax			= @Fax, 
		Email		= @Email,
		Website		= @Website,
		Contact		= @Contact,
		ContactPhone	= @ContactPhone,
		PostingDate	= @PostingDate,
		UserID		= @UserID,
		Status		= @Status 
	WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Customer_Insert]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Customer_Insert]
      @No_ varchar(100),
      @No_2 varchar(100),
      @Name  nvarchar(100),
      @SearchName  nvarchar(100),
      @Address  nvarchar(100),
      @Country  nvarchar(100), 
      @Phone  nvarchar(100),
      @Fax  nvarchar(100), 
      @Email  nvarchar(100),
      @Website  nvarchar(100),
      @Contact  nvarchar(100),
      @ContactPhone  nvarchar(100),
      @PostingDate datetime,
      @UserID  nvarchar(100),
      @Status  numeric
AS
BEGIN
	INSERT Customer(No_,No_2,Name,SearchName,Address,Country,Phone,Fax,Email,Website,Contact,ContactPhone,PostingDate,UserID,Status)
	VALUES (@No_,@No_2,@Name,@SearchName,@Address,@Country,@Phone,@Fax,@Email,@Website,@Contact,@ContactPhone,@PostingDate,@UserID,@Status)
END
GO
/****** Object:  StoredProcedure [dbo].[Customer_GetList]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Customer_GetList]
AS
BEGIN
	
	SELECT * FROM Customer
END
GO
/****** Object:  StoredProcedure [dbo].[Customer_Delete]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Customer_Delete]
@No_ nvarchar(100)
AS
BEGIN
	Delete Customer	where No_=@No_	 
END
GO
/****** Object:  StoredProcedure [dbo].[Country_GetList]    Script Date: 08/29/2016 23:56:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Country_GetList]
AS
BEGIN
	SELECT RowID,No_,Name FROM Country
END
GO
