USE [WSManagement]
GO
/****** Object:  Table [dbo].[JournalExportHeader]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalExportHeader](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[CustomerNo_] [nvarchar](50) NOT NULL,
	[PostingDate] [datetime] NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[DocumentType] [int] NULL,
	[Receiver] [nvarchar](250) NULL,
	[CarNo_] [nvarchar](50) NULL,
	[CarType] [nvarchar](50) NULL,
	[Driver] [nvarchar](250) NULL,
	[LocationNo_] [nvarchar](250) NULL,
	[ReasonCode] [nvarchar](250) NULL,
	[EmployeeNo_] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[Description] [nvarchar](250) NULL,
	[UserID] [nvarchar](250) NULL,
 CONSTRAINT [PK_JournalExportHeader] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JournalExportHeader] ON
INSERT [dbo].[JournalExportHeader] ([RowID], [No_], [CustomerNo_], [PostingDate], [DocumentDate], [DocumentType], [Receiver], [CarNo_], [CarType], [Driver], [LocationNo_], [ReasonCode], [EmployeeNo_], [Status], [Description], [UserID]) VALUES (1, N'PX16/000011', N'S0008', CAST(0x0000A67C0119120B AS DateTime), CAST(0x0000A67C0119120F AS DateTime), 0, N'', N'', N'', N'', N'', N'', N'', 0, N'', N'admin')
SET IDENTITY_INSERT [dbo].[JournalExportHeader] OFF
/****** Object:  Table [dbo].[JobTitle]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobTitle](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_JobTitle] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[JobTitle] ON
INSERT [dbo].[JobTitle] ([RowID], [No_], [Name]) VALUES (3, N'GIAMDOC', N'Giám Đốc')
INSERT [dbo].[JobTitle] ([RowID], [No_], [Name]) VALUES (1, N'NHANVIEN', N'Nhân viên')
INSERT [dbo].[JobTitle] ([RowID], [No_], [Name]) VALUES (4, N'PHOGIAMDOC', N'Phó Giám Đốc')
SET IDENTITY_INSERT [dbo].[JobTitle] OFF
/****** Object:  Table [dbo].[JournalReceiveHeader]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalReceiveHeader](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[SupplierNo_] [nvarchar](50) NULL,
	[PostingDate] [datetime] NULL,
	[DocumentDate] [datetime] NULL,
	[Deliver] [nvarchar](250) NULL,
	[CarType] [nvarchar](50) NULL,
	[CarNo_] [nvarchar](50) NULL,
	[Driver] [nvarchar](250) NULL,
	[DocumentType] [int] NULL,
	[EmployeeNo_] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[Description] [nvarchar](250) NULL,
	[UserID] [nvarchar](250) NULL,
	[LocationNo_] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_JournalReceiveHeader_1] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JournalReceiveHeader] ON
INSERT [dbo].[JournalReceiveHeader] ([RowID], [No_], [SupplierNo_], [PostingDate], [DocumentDate], [Deliver], [CarType], [CarNo_], [Driver], [DocumentType], [EmployeeNo_], [Status], [Description], [UserID], [LocationNo_], [CreateDate]) VALUES (8, N'PN16/000047', N'S0010', CAST(0x0000A67B01803F96 AS DateTime), CAST(0x0000A67B01803F93 AS DateTime), N'', N'', N'', N'', 0, N'', 2, N'', N'admin', N'', CAST(0x0000A67C00A1132F AS DateTime))
SET IDENTITY_INSERT [dbo].[JournalReceiveHeader] OFF
/****** Object:  Table [dbo].[JournalReceiveLine]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalReceiveLine](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentNo_] [nvarchar](50) NOT NULL,
	[ItemNo_] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[LotNo_] [nvarchar](50) NULL,
	[Quantity] [decimal](18, 4) NULL,
	[Unit] [nvarchar](50) NULL,
	[QtyperUnit] [int] NULL,
	[QtytoPakge] [int] NULL,
	[UnitPakge] [nvarchar](50) NULL,
	[UnitPrice] [decimal](18, 4) NULL,
	[VAT%] [decimal](18, 4) NULL,
	[LineDiscount%] [decimal](18, 4) NULL,
	[QtyInPallet] [int] NULL,
	[NetWeight] [decimal](18, 4) NULL,
	[TotalNet] [decimal](18, 4) NULL,
	[GrossWeight] [decimal](18, 4) NULL,
	[TotalGross] [decimal](18, 4) NULL,
	[ExpiryDate] [datetime] NULL,
	[Description] [nvarchar](250) NULL,
	[UserID] [nvarchar](250) NULL,
	[Status] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[PostingDate] [datetime] NULL,
	[CustomDate] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JournalReceiveLine] ON
SET IDENTITY_INSERT [dbo].[JournalReceiveLine] OFF
/****** Object:  Table [dbo].[JournalReceiveHeaderDelete]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalReceiveHeaderDelete](
	[RowID] [int] NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[SupplierNo_] [nvarchar](50) NULL,
	[PostingDate] [datetime] NULL,
	[DocumentDate] [datetime] NULL,
	[Deliver] [nvarchar](250) NULL,
	[CarType] [nvarchar](50) NULL,
	[CarNo_] [nvarchar](50) NULL,
	[Driver] [nvarchar](250) NULL,
	[DocumentType] [int] NULL,
	[EmployeeNo_] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[Description] [nvarchar](250) NULL,
	[UserID] [nvarchar](250) NULL,
	[LocationNo_] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_JournalReceiveHeaderDelete] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[JournalReceiveHeaderDelete] ([RowID], [No_], [SupplierNo_], [PostingDate], [DocumentDate], [Deliver], [CarType], [CarNo_], [Driver], [DocumentType], [EmployeeNo_], [Status], [Description], [UserID], [LocationNo_], [CreateDate]) VALUES (9, N'PN16/000048', N'S0007', CAST(0x0000A67C00E5E8BF AS DateTime), CAST(0x0000A67C00E5E8BA AS DateTime), N'', N'', N'', N'', 0, N'', 0, N'', N'admin', N'', CAST(0x0000A67C00E62FC9 AS DateTime))
INSERT [dbo].[JournalReceiveHeaderDelete] ([RowID], [No_], [SupplierNo_], [PostingDate], [DocumentDate], [Deliver], [CarType], [CarNo_], [Driver], [DocumentType], [EmployeeNo_], [Status], [Description], [UserID], [LocationNo_], [CreateDate]) VALUES (10, N'PN16/000049', N'S0006', CAST(0x0000A67C00E698F7 AS DateTime), CAST(0x0000A67C00E698F3 AS DateTime), N'', N'', N'', N'', 0, N'', 1, N'', N'admin', N'', CAST(0x0000A67C00E69D61 AS DateTime))
INSERT [dbo].[JournalReceiveHeaderDelete] ([RowID], [No_], [SupplierNo_], [PostingDate], [DocumentDate], [Deliver], [CarType], [CarNo_], [Driver], [DocumentType], [EmployeeNo_], [Status], [Description], [UserID], [LocationNo_], [CreateDate]) VALUES (11, N'PN16/000050', N'S0006', CAST(0x0000A67C00E8111B AS DateTime), CAST(0x0000A67C00E81117 AS DateTime), N'', N'', N'', N'', 0, N'', 1, N'', N'admin', N'', CAST(0x0000A67C00E81626 AS DateTime))
/****** Object:  Table [dbo].[Login]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[GroupUser] [nvarchar](250) NULL,
	[IsUsed] [int] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Login] ON
INSERT [dbo].[Login] ([RowID], [UserName], [Password], [EmployeeID], [GroupUser], [IsUsed]) VALUES (1, N'Admin', N'123', N'NV003', N'ADMIN', 1)
INSERT [dbo].[Login] ([RowID], [UserName], [Password], [EmployeeID], [GroupUser], [IsUsed]) VALUES (101, N'thuanvm', N'123', N'IT004', N'IT', 1)
INSERT [dbo].[Login] ([RowID], [UserName], [Password], [EmployeeID], [GroupUser], [IsUsed]) VALUES (63, N'user', N'123', N'TK03', N'NVKHO', 1)
SET IDENTITY_INSERT [dbo].[Login] OFF
/****** Object:  Table [dbo].[Location]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[LocationType] [int] NULL,
	[Description] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Location] ON
INSERT [dbo].[Location] ([RowID], [No_], [Name], [LocationType], [Description]) VALUES (1, N'KHO1', N'Kho 1', 0, N'')
SET IDENTITY_INSERT [dbo].[Location] OFF
/****** Object:  Table [dbo].[JournalReceiveLineDelete]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalReceiveLineDelete](
	[RowID] [int] NOT NULL,
	[DocumentNo_] [nvarchar](50) NOT NULL,
	[ItemNo_] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[LotNo_] [nvarchar](50) NULL,
	[Quantity] [decimal](18, 4) NULL,
	[Unit] [nvarchar](50) NULL,
	[QtyperUnit] [int] NULL,
	[QtytoPakge] [int] NULL,
	[UnitPakge] [nvarchar](50) NULL,
	[UnitPrice] [decimal](18, 4) NULL,
	[VAT%] [decimal](18, 4) NULL,
	[LineDiscount%] [decimal](18, 4) NULL,
	[QtyInPallet] [int] NULL,
	[NetWeight] [decimal](18, 4) NULL,
	[TotalNet] [decimal](18, 4) NULL,
	[GrossWeight] [decimal](18, 4) NULL,
	[TotalGross] [decimal](18, 4) NULL,
	[ExpiryDate] [datetime] NULL,
	[Description] [nvarchar](250) NULL,
	[UserID] [nvarchar](250) NULL,
	[Status] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[PostingDate] [datetime] NULL,
	[CustomDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainFunction]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainFunction](
	[RowID] [int] NOT NULL,
	[FormName] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Module] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_MainFunction] PRIMARY KEY CLUSTERED 
(
	[FormName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MainFunction] ([RowID], [FormName], [Description], [Module]) VALUES (1, N'frmBackupDatabase', N'Sao lưu dữ liệu', N'')
INSERT [dbo].[MainFunction] ([RowID], [FormName], [Description], [Module]) VALUES (2, N'frmCellPaging', N'Cài đặt-Danh sách ô', N'')
INSERT [dbo].[MainFunction] ([RowID], [FormName], [Description], [Module]) VALUES (3, N'frmCity', N'Cài đặt-Tỉnh/Thành phố', N'')
/****** Object:  Table [dbo].[LotNo]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotNo](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[ItemNo_] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_LotNo] PRIMARY KEY CLUSTERED 
(
	[Name] ASC,
	[ItemNo_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalExportLine]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalExportLine](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentNo_] [nvarchar](50) NOT NULL,
	[ItemNo_] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[qtyStock] [decimal](18, 3) NOT NULL,
	[Quantity] [decimal](18, 3) NULL,
	[Unit] [nvarchar](50) NULL,
	[qtyperUnit] [decimal](18, 3) NULL,
	[qtytoPakge] [decimal](18, 3) NULL,
	[UnittoPakge] [nvarchar](50) NULL,
	[UnitPrice] [decimal](18, 4) NOT NULL,
	[VAT%] [decimal](18, 4) NOT NULL,
	[LineDiscount%] [decimal](18, 4) NOT NULL,
	[NetWeight] [decimal](18, 4) NOT NULL,
	[TotalNet] [decimal](18, 4) NOT NULL,
	[PalletNo_] [nvarchar](50) NOT NULL,
	[CellNo_] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[PostingDate] [datetime] NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
	[Status] [int] NOT NULL,
	[LotNo_] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoSeries]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoSeries](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[SeriesCode] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[StartingNo] [nvarchar](50) NOT NULL,
	[EndingNo] [int] NOT NULL,
	[ImcrementNo] [int] NOT NULL,
	[LastNoUsed] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NoSeries] ON
INSERT [dbo].[NoSeries] ([RowID], [SeriesCode], [Code], [Description], [StartingNo], [EndingNo], [ImcrementNo], [LastNoUsed]) VALUES (1, N'KH', N'KH01', N'Khách Hàng', N'KH', 9999, 1, 0)
INSERT [dbo].[NoSeries] ([RowID], [SeriesCode], [Code], [Description], [StartingNo], [EndingNo], [ImcrementNo], [LastNoUsed]) VALUES (4, N'NV', N'NV01', N'Nhân viên', N'NV', 9999, 1, 0)
INSERT [dbo].[NoSeries] ([RowID], [SeriesCode], [Code], [Description], [StartingNo], [EndingNo], [ImcrementNo], [LastNoUsed]) VALUES (31, N'PN', N'PN16', N'Phiếu nhập kho', N'PN16/', 999999, 1, 51)
SET IDENTITY_INSERT [dbo].[NoSeries] OFF
/****** Object:  Table [dbo].[Supplier]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Supplier](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[No_2] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NOT NULL,
	[SearchName] [nvarchar](250) NULL,
	[Country] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Website] [nvarchar](250) NULL,
	[Contact] [nvarchar](250) NULL,
	[ContactPhone] [nvarchar](50) NULL,
	[PostingDate] [datetime] NULL,
	[UserID] [nvarchar](250) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON
INSERT [dbo].[Supplier] ([RowID], [No_], [No_2], [Name], [SearchName], [Country], [Address], [Phone], [Fax], [Email], [Website], [Contact], [ContactPhone], [PostingDate], [UserID], [Status]) VALUES (3, N'S0003', N' Name', N'S0003 Name', N'', N'', N'e', N'123456789', N'', N'email@gmail.com', N'', N'', N'', CAST(0x0000A66C00000000 AS DateTime), N'admin', 1)
INSERT [dbo].[Supplier] ([RowID], [No_], [No_2], [Name], [SearchName], [Country], [Address], [Phone], [Fax], [Email], [Website], [Contact], [ContactPhone], [PostingDate], [UserID], [Status]) VALUES (4, N'S0004', N' Name', N'S0004 Name', N'ass', N'ALG', N'e', N'123456789', N'ss', N'email@gmail.com', N'ss', N'asd', N'asdasd', CAST(0x0000A66F01639B4B AS DateTime), N'admin', 1)
INSERT [dbo].[Supplier] ([RowID], [No_], [No_2], [Name], [SearchName], [Country], [Address], [Phone], [Fax], [Email], [Website], [Contact], [ContactPhone], [PostingDate], [UserID], [Status]) VALUES (5, N'S0005', N' Name', N'S0005 Name', N'', N'', N'e', N'123456789', N'', N'email@gmail.com', N'', N'', N'', CAST(0x0000A66E00000000 AS DateTime), N'admin', 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Supplier] OFF
/****** Object:  Table [dbo].[Cell]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cell](
	[RowID] [int] NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[LineNo_] [nvarchar](50) NOT NULL,
	[FloorNo_] [int] NOT NULL,
	[IndexNo_] [int] NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[LocationNo_] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[Lock] [int] NULL,
	[No_2] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cell] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cell] ([RowID], [No_], [LineNo_], [FloorNo_], [IndexNo_], [Position], [LocationNo_], [Status], [Lock], [No_2]) VALUES (2594, N'A101N', N'A', 1, 1, N'N', N'KHO3', 0, NULL, NULL)
INSERT [dbo].[Cell] ([RowID], [No_], [LineNo_], [FloorNo_], [IndexNo_], [Position], [LocationNo_], [Status], [Lock], [No_2]) VALUES (2593, N'A101T', N'A', 1, 1, N'T', N'KHO3', 0, NULL, NULL)
INSERT [dbo].[Cell] ([RowID], [No_], [LineNo_], [FloorNo_], [IndexNo_], [Position], [LocationNo_], [Status], [Lock], [No_2]) VALUES (2606, N'A102N', N'A', 1, 2, N'N', N'KHO3', 0, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
/****** Object:  Table [dbo].[CellDetail]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CellDetail](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentNo_] [nvarchar](50) NOT NULL,
	[DocumentType] [int] NOT NULL,
	[CustomerNo_] [nvarchar](50) NOT NULL,
	[CellNo_] [nvarchar](50) NOT NULL,
	[PalletNo_] [nvarchar](50) NOT NULL,
	[LockPallet] [int] NULL,
	[ItemNo_] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Quantity] [decimal](18, 4) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[QtyperUnit] [int] NULL,
	[QtytoPakge] [decimal](18, 4) NULL,
	[UnittoPakge] [nvarchar](50) NULL,
	[PriceImport] [decimal](18, 4) NULL,
	[NetWeight] [decimal](18, 4) NOT NULL,
	[TotalNet] [decimal](18, 4) NOT NULL,
	[GrossWeight] [decimal](18, 4) NOT NULL,
	[TotalGross] [decimal](18, 4) NOT NULL,
	[ExpiryDate] [datetime] NULL,
	[PostingDate] [datetime] NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_CellDetail] PRIMARY KEY CLUSTERED 
(
	[DocumentNo_] ASC,
	[PalletNo_] ASC,
	[ItemNo_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CellDetail] ON
SET IDENTITY_INSERT [dbo].[CellDetail] OFF
/****** Object:  Table [dbo].[Customer]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[No_2] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NOT NULL,
	[SearchName] [nvarchar](250) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[TaxCode] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Website] [nvarchar](250) NULL,
	[Contact] [nvarchar](250) NULL,
	[ContactPhone] [nvarchar](50) NULL,
	[PostingDate] [datetime] NULL,
	[UserID] [nvarchar](250) NULL,
	[Status] [int] NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON
INSERT [dbo].[Customer] ([RowID], [No_], [No_2], [Name], [SearchName], [Address], [Country], [City], [Phone], [Fax], [TaxCode], [Email], [Website], [Contact], [ContactPhone], [PostingDate], [UserID], [Status], [Type]) VALUES (438, N'KH0001', N'', N'CÔNG TY ABC', N'ABC', N'Nguyen Kiem', N'ALG', N'TPHCM', N'23', N'12', N'', N'3', N'2', N'1', N'12', CAST(0x0000A67101887173 AS DateTime), N'admin', 1, 0)
INSERT [dbo].[Customer] ([RowID], [No_], [No_2], [Name], [SearchName], [Address], [Country], [City], [Phone], [Fax], [TaxCode], [Email], [Website], [Contact], [ContactPhone], [PostingDate], [UserID], [Status], [Type]) VALUES (439, N'KH0002', N'', N'CÔNG TY TNHH MỘT THÀNH VIÊN MT', N'MT', N'Q.7', N'VN', N'TPHCM', N'', N'', N'', N'', N'', N'', N'', CAST(0x0000A64D00000000 AS DateTime), N'Admin', 0, 0)
INSERT [dbo].[Customer] ([RowID], [No_], [No_2], [Name], [SearchName], [Address], [Country], [City], [Phone], [Fax], [TaxCode], [Email], [Website], [Contact], [ContactPhone], [PostingDate], [UserID], [Status], [Type]) VALUES (440, N'qwqww', N'', N'qww', N'ww', N'ww', N'ALG', NULL, N'ww', N'', NULL, N'ww', N'', N'w', N'', CAST(0x0000A67C011ECECD AS DateTime), N'admin', 1, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
/****** Object:  Table [dbo].[Currency]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Currency](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Currency] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Currency] ON
INSERT [dbo].[Currency] ([RowID], [No_], [Name]) VALUES (1, N'USD', N'USD')
INSERT [dbo].[Currency] ([RowID], [No_], [Name]) VALUES (2, N'VND', N'VND')
SET IDENTITY_INSERT [dbo].[Currency] OFF
/****** Object:  Table [dbo].[Department]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON
INSERT [dbo].[Department] ([RowID], [No_], [Name]) VALUES (10, N'asad', N'sdsd')
INSERT [dbo].[Department] ([RowID], [No_], [Name]) VALUES (1, N'GD', N'Ban Giám Đốc')
INSERT [dbo].[Department] ([RowID], [No_], [Name]) VALUES (2, N'KD', N'Phòng Kinh Doanh')
SET IDENTITY_INSERT [dbo].[Department] OFF
/****** Object:  Table [dbo].[Employee]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[No_2] [nvarchar](50) NULL,
	[LastName] [nvarchar](250) NOT NULL,
	[FirstName] [nvarchar](250) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[BirthDate] [datetime] NULL,
	[PlaceOfBirth] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[City] [nvarchar](50) NULL,
	[JobTitle] [nvarchar](250) NULL,
	[Department] [nvarchar](250) NULL,
	[IDCard] [nvarchar](50) NULL,
	[DateOfIssue] [datetime] NULL,
	[PlaceOfIssue] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Picture] [image] NULL,
	[CreateDate] [datetime] NULL,
	[Login] [nvarchar](50) NULL,
	[MarialStatus] [nvarchar](250) NULL,
	[HireDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Employee] OFF
/****** Object:  Table [dbo].[Developers]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Developers](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](250) NOT NULL,
	[Fax] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Website] [nvarchar](250) NOT NULL,
	[TaxCode] [nvarchar](50) NOT NULL,
	[BankAccount] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](250) NOT NULL,
	[CreateDate] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Developers] ON
INSERT [dbo].[Developers] ([RowID], [Name], [Description], [Address], [Phone], [Fax], [Email], [Website], [TaxCode], [BankAccount], [BankName], [CreateDate]) VALUES (1, N'Võ Minh Thuận', N'Phần mềm được viết bởi Võ Minh Thuận IT', N'HCM', N'0933 656 707', N'', N'vominhthuanit@gmail.com', N'', N'', N'', N'', CAST(0x0000A65400000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Developers] OFF
/****** Object:  Table [dbo].[GroupUser]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupUser](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[GroupGrant] [int] NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_GroupUser] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GroupUser] ON
INSERT [dbo].[GroupUser] ([RowID], [No_], [Name], [GroupGrant], [Description]) VALUES (7, N'A', N'AB', NULL, NULL)
INSERT [dbo].[GroupUser] ([RowID], [No_], [Name], [GroupGrant], [Description]) VALUES (1, N'ADMIN', N'QUANTRI', 2, N'')
INSERT [dbo].[GroupUser] ([RowID], [No_], [Name], [GroupGrant], [Description]) VALUES (2, N'IT', N'IT', 1, N'')
SET IDENTITY_INSERT [dbo].[GroupUser] OFF
/****** Object:  Table [dbo].[GroupFunction]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupFunction](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](250) NOT NULL,
	[FormName] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Module] [nvarchar](250) NOT NULL,
	[IsReadOnly] [int] NULL,
	[SecurityButton] [nvarchar](max) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GroupFunction] ON
INSERT [dbo].[GroupFunction] ([RowID], [GroupName], [FormName], [Description], [Module], [IsReadOnly], [SecurityButton]) VALUES (1, N'ADMIN', N'frmUser', N'Phân quyền người dùng', N'', 0, NULL)
INSERT [dbo].[GroupFunction] ([RowID], [GroupName], [FormName], [Description], [Module], [IsReadOnly], [SecurityButton]) VALUES (2, N'ADMIN', N'frmFileLog', N'Lịch sử phần mềm', N'', 0, N'')
INSERT [dbo].[GroupFunction] ([RowID], [GroupName], [FormName], [Description], [Module], [IsReadOnly], [SecurityButton]) VALUES (3, N'ADMIN', N'frmJournalEntryReceive', N'Nhập kho-Nhật ký nhập kho', N'', 0, N'')
SET IDENTITY_INSERT [dbo].[GroupFunction] OFF
/****** Object:  Table [dbo].[FileLog]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileLog](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nchar](50) NULL,
	[DocumentDate] [datetime] NULL,
	[DocumentTime] [datetime] NULL,
	[Description] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExchangeRate]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangeRate](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyCode] [nvarchar](50) NOT NULL,
	[StartingDate] [datetime] NOT NULL,
	[RelationCurrencyCode] [nvarchar](50) NOT NULL,
	[ExchRateAmount] [decimal](18, 3) NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ExchangeRate] PRIMARY KEY CLUSTERED 
(
	[CurrencyCode] ASC,
	[StartingDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExchangeRate] ON
INSERT [dbo].[ExchangeRate] ([RowID], [CurrencyCode], [StartingDate], [RelationCurrencyCode], [ExchRateAmount], [UserID]) VALUES (2, N'USD', CAST(0x0000A63600000000 AS DateTime), N'VND', CAST(21560.000 AS Decimal(18, 3)), N'Admin')
INSERT [dbo].[ExchangeRate] ([RowID], [CurrencyCode], [StartingDate], [RelationCurrencyCode], [ExchRateAmount], [UserID]) VALUES (1, N'VND', CAST(0x0000A63600000000 AS DateTime), N'VND', CAST(1.000 AS Decimal(18, 3)), N'Admin')
SET IDENTITY_INSERT [dbo].[ExchangeRate] OFF
/****** Object:  Table [dbo].[Item]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[No_2] [nvarchar](250) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[NameEn] [nvarchar](250) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](250) NOT NULL,
	[SearchName] [nvarchar](250) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[qtyPerUnit] [decimal](18, 4) NULL,
	[UnitDetail] [nvarchar](50) NULL,
	[ItemGroup] [nvarchar](50) NOT NULL,
	[NetWeight] [decimal](18, 4) NOT NULL,
	[GrossWeight] [decimal](18, 4) NULL,
	[Description] [nvarchar](250) NOT NULL,
	[PostingDate] [datetime] NOT NULL,
	[UserID] [nvarchar](250) NOT NULL,
	[Status] [int] NOT NULL,
	[UnitImport] [nvarchar](50) NULL,
	[UnitExport] [nvarchar](50) NULL,
	[UnitStock] [nvarchar](50) NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON
INSERT [dbo].[Item] ([RowID], [No_], [No_2], [Name], [NameEn], [Type], [Size], [SearchName], [Unit], [qtyPerUnit], [UnitDetail], [ItemGroup], [NetWeight], [GrossWeight], [Description], [PostingDate], [UserID], [Status], [UnitImport], [UnitExport], [UnitStock]) VALUES (2, N'SP0001', N'', N'Áo thun nam', N'', N'1', N'', N'2', N'BAO', CAST(1.0000 AS Decimal(18, 4)), N'Bao', N'GR001', CAST(3.0000 AS Decimal(18, 4)), CAST(2.5000 AS Decimal(18, 4)), N'', CAST(0x0000A6720156B090 AS DateTime), N'admin', 1, N'BAO', N'BAP', N'BAO')
INSERT [dbo].[Item] ([RowID], [No_], [No_2], [Name], [NameEn], [Type], [Size], [SearchName], [Unit], [qtyPerUnit], [UnitDetail], [ItemGroup], [NetWeight], [GrossWeight], [Description], [PostingDate], [UserID], [Status], [UnitImport], [UnitExport], [UnitStock]) VALUES (3, N'SP0002', N'', N'Áo thun nữ', N'', N'1', N'', N'3', N'BAO', CAST(1.0000 AS Decimal(18, 4)), N'Bao', N'GR002', CAST(3.0000 AS Decimal(18, 4)), CAST(2.5000 AS Decimal(18, 4)), N'', CAST(0x0000A6710003221F AS DateTime), N'admin', 1, N'', N'', N'')
INSERT [dbo].[Item] ([RowID], [No_], [No_2], [Name], [NameEn], [Type], [Size], [SearchName], [Unit], [qtyPerUnit], [UnitDetail], [ItemGroup], [NetWeight], [GrossWeight], [Description], [PostingDate], [UserID], [Status], [UnitImport], [UnitExport], [UnitStock]) VALUES (4, N'SP0003', N'', N'Bàn -  ( 650 x 650 x 480 mm )', N'', N'', N'', N'4', N'BAO', CAST(1.0000 AS Decimal(18, 4)), N'Bao', N'GR001', CAST(3.0000 AS Decimal(18, 4)), CAST(2.5000 AS Decimal(18, 4)), N'', CAST(0x0000A64800000000 AS DateTime), N'thuavm', 0, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Item] OFF
/****** Object:  Table [dbo].[Country]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON
INSERT [dbo].[Country] ([RowID], [No_], [Name]) VALUES (1, N'ALG', N'Algeria')
INSERT [dbo].[Country] ([RowID], [No_], [Name]) VALUES (2, N'ANH', N'Anh')
INSERT [dbo].[Country] ([RowID], [No_], [Name]) VALUES (3, N'ARG', N'Argentina')
SET IDENTITY_INSERT [dbo].[Country] OFF
/****** Object:  Table [dbo].[Company]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[RowID] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Name_2] [nvarchar](250) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Address_2] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](250) NOT NULL,
	[Phone_2] [nvarchar](250) NOT NULL,
	[Fax] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Website] [nvarchar](250) NOT NULL,
	[TaxCode] [nvarchar](50) NOT NULL,
	[BankAccount] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](250) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Company] ([RowID], [Name], [Name_2], [Address], [Address_2], [Phone], [Phone_2], [Fax], [Email], [Website], [TaxCode], [BankAccount], [BankName]) VALUES (1, N'CÔNG TY TNHH MT', N'', N'Q.7 HCM', N'', N'0933656707', N'', N'', N'', N'', N'', N' ', N' ')
/****** Object:  Table [dbo].[City]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON
INSERT [dbo].[City] ([RowID], [No_], [Name]) VALUES (2, N'ANGIANG', N'An Giang')
INSERT [dbo].[City] ([RowID], [No_], [Name]) VALUES (3, N'BACCAN', N'Bắc Cạn')
INSERT [dbo].[City] ([RowID], [No_], [Name]) VALUES (4, N'BACGIANG', N'Bắc Giang')
SET IDENTITY_INSERT [dbo].[City] OFF
/****** Object:  Table [dbo].[ItemGroup]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemGroup](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ItemGroup] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ItemGroup] ON
INSERT [dbo].[ItemGroup] ([RowID], [No_], [Name]) VALUES (1, N'GR001', N'Nhóm 1')
INSERT [dbo].[ItemGroup] ([RowID], [No_], [Name]) VALUES (2, N'GR002', N'Nhóm 2')
SET IDENTITY_INSERT [dbo].[ItemGroup] OFF
/****** Object:  Table [dbo].[JournalEntry]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalEntry](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentType] [int] NOT NULL,
	[DocumentNo_] [nvarchar](50) NOT NULL,
	[CustomerNo_] [nvarchar](50) NOT NULL,
	[ItemNo_] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[LotNo_] [nvarchar](50) NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[UnitPrice] [decimal](18, 3) NULL,
	[QtyperUnit] [int] NULL,
	[QtytoPakge] [decimal](18, 4) NULL,
	[UnittoPakge] [nvarchar](50) NULL,
	[qtyInPallet] [decimal](18, 0) NULL,
	[NetWeight] [decimal](18, 4) NULL,
	[TotalNet] [decimal](18, 4) NULL,
	[GrossWeight] [decimal](18, 4) NULL,
	[TotalGross] [decimal](18, 4) NULL,
	[Amount] [decimal](18, 4) NULL,
	[VAT%] [decimal](18, 4) NULL,
	[LineDiscount%] [decimal](18, 4) NULL,
	[TotalAmount] [decimal](18, 4) NULL,
	[PalletNo_] [nvarchar](50) NULL,
	[CellNo_] [nvarchar](50) NULL,
	[Description] [nvarchar](250) NULL,
	[ExpiryDate] [datetime] NULL,
	[DocumentDate] [datetime] NULL,
	[PostingDate] [datetime] NULL,
	[UserID] [nvarchar](250) NULL,
	[Status] [int] NULL,
	[ReceiveNo_] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JournalEntry] ON
SET IDENTITY_INSERT [dbo].[JournalEntry] OFF
/****** Object:  Table [dbo].[QtyperUnit]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QtyperUnit](
	[RowID] [int] NULL,
	[ItemNo_] [varchar](50) NULL,
	[Unit] [varchar](50) NULL,
	[QtyperUnit] [decimal](18, 4) NULL,
	[DocumentType] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Value] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_Parameters] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Parameters] ON
INSERT [dbo].[Parameters] ([RowID], [No_], [Name], [Value]) VALUES (2, N'VERSION', N'1.0.1.171', CAST(1011.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[Parameters] OFF
/****** Object:  Table [dbo].[UnitOfMeasure]    Script Date: 09/09/2016 17:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasure](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[No_] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_UnitOfMeasure] PRIMARY KEY CLUSTERED 
(
	[No_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] ON
INSERT [dbo].[UnitOfMeasure] ([RowID], [No_], [Name]) VALUES (43, N'BAO', N'Bao')
INSERT [dbo].[UnitOfMeasure] ([RowID], [No_], [Name]) VALUES (98, N'BAP', N'BẮP')
INSERT [dbo].[UnitOfMeasure] ([RowID], [No_], [Name]) VALUES (44, N'BICH', N'Bịch')
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] OFF
/****** Object:  StoredProcedure [dbo].[UnitOfMeasure_GetList]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UnitOfMeasure_GetList]
AS
BEGIN
	SELECT * FROM UnitOfMeasure
END
GO
/****** Object:  StoredProcedure [dbo].[Supplier_Update]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[Supplier_Update]
@No_ NVarChar(100),
@No_2 NVarChar(100),
@Name NVarChar(200),
@SearchName NVarChar(100),
@Country NVarChar(100),
@Address NVarChar(250),
@Phone NVarChar(100),
@Fax NVarChar(100),
@Email NVarChar(100),
@Website NVarChar(100),
@Contact NVarChar(100),
@ContactPhone NVarChar(100),
@PostingDate Datetime,
@UserID NVarChar(100),
@Status int
AS
BEGIN
	UPDATE Supplier
	SET Name=@Name,
		SearchName=@SearchName,
		Country=@Country,
		Address=@Address,
		Phone=@Phone,
		Fax=@Fax,
		Email=@Email,
		Website=@Website,
		Contact=@Contact,
		ContactPhone=@ContactPhone,
		PostingDate=@PostingDate,
		UserID=@UserID
	WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Supplier_Insert]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Supplier_Insert]
@No_ NVarChar(100),
@No_2 NVarChar(100),
@Name NVarChar(200),
@SearchName NVarChar(100),
@Country NVarChar(100),
@Address NVarChar(250),
@Phone NVarChar(100),
@Fax NVarChar(100),
@Email NVarChar(100),
@Website NVarChar(100),
@Contact NVarChar(100),
@ContactPhone NVarChar(100),
@PostingDate Datetime,
@UserID NVarChar(100),
@Status int
AS
BEGIN
INSERT Supplier (No_,No_2,Name,SearchName,Country,Address,Phone,Fax,Email,Website,Contact,ContactPhone,PostingDate,UserID,Status)
Values (@No_,@No_2,@Name,@SearchName,@Country,@Address,@Phone,@Fax,@Email,@Website,@Contact,@ContactPhone,GETDATE(),@UserID,@Status)
END
GO
/****** Object:  StoredProcedure [dbo].[Supplier_GetList]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Supplier_GetList]
AS
BEGIN
	SELECT [RowID]
      ,[No_]
      ,[No_2]
      ,[Name]
      ,[SearchName]
      ,[Country]
      ,[Address] 
      ,[Phone]
      ,[Fax] 
      ,[Email]
      ,[Website]
      ,[Contact]
      ,[ContactPhone]
      ,[PostingDate]
      ,[UserID]
      ,[Status] 
  FROM [dbo].[Supplier]
END
GO
/****** Object:  StoredProcedure [dbo].[Supplier_GetByCondition]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Supplier_GetByCondition]
@No_ varchar(50),
@Name nvarchar(250),
@SearchName nvarchar(250),
@Address nvarchar(250)
AS
BEGIN
	SELECT	   [No_],[Name],[SearchName],[Country],[Address] 
			  ,[Phone],[Fax],[Email],[Website],[Contact]
			  ,[ContactPhone],[UserID] 
	FROM [dbo].[Supplier]
	WHERE No_ LIKE '%'+@No_+'%' 
			AND Name LIKE '%'+@Name+'%' 
			AND SearchName LIKE '%' + @SearchName + '%' 
			AND Address LIKE '%' + @Address + '%' 
END
GO
/****** Object:  StoredProcedure [dbo].[Supplier_Delete]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Supplier_Delete]
@No_ nvarchar(50)
AS
BEGIN
	delete Supplier where No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[NoSeries_GetSeries]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[NoSeries_GetSeries]
@Series nvarchar(50)
AS
BEGIN
	SELECT * FROM NoSeries WHERE SeriesCode=@Series
END
GO
/****** Object:  StoredProcedure [dbo].[JournalEntry_Insert]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalEntry_Insert]
@DocumentType Nvarchar(250),
@DocumentNo_ Nvarchar(250),
@CustomerNo_ Nvarchar(250),
@ItemNo_ Nvarchar(250),
@Type Nvarchar(250),
@Size Nvarchar(250),
@Quantity numeric(18,4),
@Unit Nvarchar(50),
@UnitPrice numeric(18,4),
@QtyperUnit numeric(18,4),
@QtytoPakge numeric(18,4),
@UnittoPakge Nvarchar(250),
@NetWeight numeric(18,4),
@TotalNet numeric(18,4),
@GrossWeight numeric(18,4),
@TotalGross numeric(18,4),
@Amount numeric(18,4),
@VAT numeric(18,4),
@LineDiscount numeric(18,4),
@TotalAmount numeric(18,4),
@PalletNo_ Nvarchar(250),
@CellNo_ Nvarchar(250),
@Description Nvarchar(250),
@ExpiryDate datetime,
@DocumentDate datetime,
@PostingDate datetime,
@UserID Nvarchar(250),
@Status int,
@LotNo_ nvarchar(50),
@qtyInPallet decimal,
@ReceiveNo_ nvarchar(50)
AS
BEGIN
	INSERT JournalEntry ([DocumentType],[DocumentNo_],[CustomerNo_],[ItemNo_],[Type],[Size],[Quantity],[Unit]
						,[UnitPrice],[QtyperUnit],[QtytoPakge],[UnittoPakge],[NetWeight],[TotalNet]
						,[GrossWeight],[TotalGross],[Amount],[VAT%],[LineDiscount%],[TotalAmount],[PalletNo_],
						[CellNo_],[Description],[ExpiryDate],[DocumentDate],[PostingDate],[UserID],[Status],LotNo_,qtyInPallet,[ReceiveNo_])
	VALUES(@DocumentType,@DocumentNo_,@CustomerNo_,@ItemNo_, @Type, @Size,@Quantity,@Unit,@UnitPrice,@QtyperUnit,
			@QtytoPakge,@UnittoPakge,@NetWeight,@TotalNet,@GrossWeight,@TotalGross,@Amount,@VAT,@LineDiscount,@TotalAmount,
			@PalletNo_,@CellNo_,@Description,@ExpiryDate,@DocumentDate,@PostingDate,@UserID,@Status,@LotNo_,@qtyInPallet,@ReceiveNo_)
END
GO
/****** Object:  StoredProcedure [dbo].[JournalEntry_GetListByDocumentNo_]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalEntry_GetListByDocumentNo_]
@DocumentNo_ nvarchar(50)
AS
BEGIN 

select * from JournalEntry
	SELECT JE.RowID,DocumentNo_,ItemNo_,Name,JE.Size,JE.LotNo_,CellNo_,Quantity,JE.Unit,UnitPrice,[VAT%] VAT,[LineDiscount%] LineDiscount
	, QtyInPallet,JE.NetWeight,TotalNet,JE.GrossWeight,TotalGross,ExpiryDate,JE.Description,JE.UserID
	FROM JournalEntry JE,Item I
	WHERE	JE.ItemNo_=I.No_ 
			and  JE.DocumentNo_=@DocumentNo_ 
END
GO
/****** Object:  StoredProcedure [dbo].[JobTitle_Update]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JobTitle_Update]
@No_ nvarchar(100), 
@NAME nvarchar(200) 
AS
BEGIN
	UPDATE JobTitle
	SET Name=@Name
	WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[JobTitle_Insert]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JobTitle_Insert]
@No_ nvarchar(100), 
@Name nvarchar(200) 
AS
BEGIN
	INSERT JobTitle(No_,Name)
	VALUES(@No_,@Name)
END
GO
/****** Object:  StoredProcedure [dbo].[JobTitle_GetList]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JobTitle_GetList]
AS
BEGIN
	SELECT * FROM JobTitle
END
GO
/****** Object:  StoredProcedure [dbo].[JobTitle_Delete]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JobTitle_Delete]
@No_ nvarchar(100) 
AS
BEGIN
	DELETE JobTitle WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Item_Update]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Item_Update]
@No_ NVarchar(150),
@No_2 NVarchar(150),
@Name NVarchar(150),
@NameEn NVarchar(150),
@Type numeric,
@Size NVarchar(150),
@SearchName NVarchar(150),
@Unit NVarchar(150),
@qtyPerUnit decimal(18,4),
@UnitDetail NVarchar(150),
@ItemGroup NVarchar(150),
@NetWeight decimal(18,4),
@GrossWeight decimal(18,4),
@Description NVarchar(150),
@PostingDate datetime,
@UserID NVarchar(150),
@Status numeric,
@UnitImport NVarchar(150),
@UnitExport NVarchar(150),
@UnitStock NVarchar(150)
AS
BEGIN
UPDATE Item 
SET  No_2 = 	@No_2,
	 Name = 	@Name,
	 NameEn = 	@NameEn,
	 Type = 	@Type,
	 Size = 	@Size,
	 SearchName = 	@SearchName,
	 Unit = 	@Unit,
	 qtyPerUnit = 	@qtyPerUnit,
	 UnitDetail = 	@UnitDetail,
	 ItemGroup = 	@ItemGroup,
	 NetWeight = 	@NetWeight,
	 GrossWeight = 	@GrossWeight,
	 Description = 	@Description,
	 PostingDate = 	@PostingDate,
	 UserID = 	@UserID,
	 Status = 	@Status,
	 UnitImport = 	@UnitImport,
	 UnitExport = 	@UnitExport,
	 UnitStock = 	@UnitStock
WHERE No_ = @No_
	
END
GO
/****** Object:  StoredProcedure [dbo].[Item_Insert]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Item_Insert]
@No_ NVarchar(150),
@No_2 NVarchar(150),
@Name NVarchar(150),
@NameEn NVarchar(150),
@Type numeric,
@Size NVarchar(150),
@SearchName NVarchar(150),
@Unit NVarchar(150),
@qtyPerUnit decimal(18,4),
@UnitDetail NVarchar(150),
@ItemGroup NVarchar(150),
@NetWeight decimal(18,4),
@GrossWeight decimal(18,4),
@Description NVarchar(150),
@PostingDate datetime,
@UserID NVarchar(150),
@Status numeric,
@UnitImport NVarchar(150),
@UnitExport NVarchar(150),
@UnitStock NVarchar(150)
AS
BEGIN
INSERT Item(No_,No_2,Name,NameEn,Type,Size,SearchName,Unit,qtyPerUnit,UnitDetail,ItemGroup
			,NetWeight,GrossWeight,Description,PostingDate,UserID,Status,UnitImport,UnitExport,UnitStock)
VALUES (@No_,@No_2,@Name,@NameEn,@Type,@Size,@SearchName,@Unit,@qtyPerUnit,@UnitDetail,@ItemGroup
		,@NetWeight,@GrossWeight,@Description,@PostingDate,@UserID,@Status,@UnitImport,@UnitExport,@UnitStock)			
END
GO
/****** Object:  StoredProcedure [dbo].[Item_GetList]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Item_GetList]
AS
BEGIN
	SELECT * FROM Item
END
GO
/****** Object:  StoredProcedure [dbo].[CellDetail_UpdateCellNo]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CellDetail_UpdateCellNo]
@ItemNo_ nvarchar(50),
@CellNo_ nvarchar(50),
@PalletNo_ nvarchar(50),
@PostingDate datetime,
@UserID nvarchar(50)
AS
BEGIN
	UPDATE CellDetail 
	SET [CellNo_]=@CellNo_,
		PostingDate=@PostingDate,
		UserID=@UserID
	WHERE [PalletNo_]=@PalletNo_ AND [ItemNo_]=@ItemNo_
END
GO
/****** Object:  StoredProcedure [dbo].[CellDetail_Insert]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CellDetail_Insert]
@DocumentNo_ nvarchar(50),
@DocumentType nvarchar(50),
@CustomerNo_ nvarchar(50),
@CellNo_ nvarchar(50),
@PalletNo_ nvarchar(50),
@LockPallet int,
@ItemNo_ nvarchar(50),
@Type nvarchar(50),
@Size nvarchar(50),
@Quantity numeric(18,4),
@Unit nvarchar(50),
@QtyperUnit numeric(18,4),
@QtytoPakge numeric(18,4),
@UnittoPakge nvarchar(50),
@PriceImport numeric(18,4),
@NetWeight numeric(18,4),
@TotalNet numeric(18,4),
@GrossWeight numeric(18,4),
@TotalGross numeric(18,4),
@ExpiryDate datetime,
@PostingDate datetime,
@DocumentDate datetime,
@Description nvarchar(250),
@UserID varchar(50)
AS
BEGIN
	INSERT CellDetail(DocumentNo_
,DocumentType
,CustomerNo_
,CellNo_
,PalletNo_
,LockPallet
,ItemNo_
,Type
,Size
,Quantity
,Unit
,QtyperUnit
,QtytoPakge
,UnittoPakge
,PriceImport
,NetWeight
,TotalNet
,GrossWeight
,TotalGross
,ExpiryDate
,PostingDate
,DocumentDate
,Description
,UserID )
	VALUES(@DocumentNo_
,@DocumentType
,@CustomerNo_
,@CellNo_
,@PalletNo_
,@LockPallet
,@ItemNo_
,@Type
,@Size
,@Quantity
,@Unit
,@QtyperUnit
,@QtytoPakge
,@UnittoPakge
,@PriceImport
,@NetWeight
,@TotalNet
,@GrossWeight
,@TotalGross
,@ExpiryDate
,@PostingDate
,@DocumentDate
,@Description
,@UserID)
	
END
GO
/****** Object:  StoredProcedure [dbo].[GroupUser_Update]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GroupUser_Update]
@No_ nvarchar(100),
@Name nvarchar(200)
AS
BEGIN
	UPDATE GroupUser
	SET Name=@Name
	WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[GroupUser_Insert]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GroupUser_Insert]
@No_ nvarchar(100),
@Name nvarchar(200)
AS
BEGIN
	INSERT GroupUser(No_,Name)
	VALUES(@No_,@Name)
END
GO
/****** Object:  StoredProcedure [dbo].[GroupUser_GetList]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GroupUser_GetList]
AS
BEGIN
	SELECT * FROM GroupUser
END
GO
/****** Object:  StoredProcedure [dbo].[GroupUser_Delete]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GroupUser_Delete]
@No_ nvarchar(100)
AS
BEGIN
	DELETE GroupUser WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_Update]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Employee_Update]
@No_ varchar(50) ,
@No_2 nvarchar(50) ,
@LastName nvarchar(250) ,
@FirstName nvarchar(250) ,
@FullName nvarchar(250) ,
@Gender nvarchar(50) ,
@BirthDate datetime ,
@PlaceOfBirth nvarchar(50) ,
@Address nvarchar(250) ,
@City nvarchar(50) , 
@JobTitle nvarchar(250) ,
@Department nvarchar(250) , 
@IDCard nvarchar(50) ,
@DateOfIssue datetime ,
@PlaceOfIssue nvarchar(50) ,
@Phone nvarchar(50) ,
@Fax nvarchar(50) ,
@Email nvarchar(250) ,
--@Picture image,
@CreateDate datetime,
@Login nvarchar(250), 
@MarialStatus nvarchar(250), 
@HireDate datetime, 
@Status int  
As
BEGIN 
	UPDATE Employee
	SET	[No_2]			= @No_2,
		[LastName]		= @LastName,
		[FirstName]		= @FirstName,
		[FullName]		= @FullName,
		[Gender]		= @Gender,
		[BirthDate]		= @BirthDate,
		[PlaceOfBirth]	= @PlaceOfBirth,
		[Address]		= @Address,
		[City]			= @City,
		[JobTitle]		= @JobTitle,
		[Department]	= @Department,
		[IDCard]		= @IDCard,
		[DateOfIssue]	= @DateOfIssue,
		[PlaceOfIssue]	= @PlaceOfIssue,
		[Phone]			= @Phone,
		[Fax]			= @Fax,
		[Email]			= @Email,
		--[Picture]		= @Picture,
		[CreateDate]	= @CreateDate,
		[Login]			= @Login,
		[MarialStatus]	= @MarialStatus,
		[HireDate]		= @HireDate,
		[Status]		= @Status
		WHERE [No_]		= @No_
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_Insert]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Employee_Insert]
@No_ varchar(50) ,
@No_2 nvarchar(50) ,
@LastName nvarchar(250) ,
@FirstName nvarchar(250) ,
@FullName nvarchar(250) ,
@Gender nvarchar(50) ,
@BirthDate datetime ,
@PlaceOfBirth nvarchar(50) ,
@Address nvarchar(250) ,
@City nvarchar(50) , 
@JobTitle nvarchar(250) ,
@Department nvarchar(250) , 
@IDCard nvarchar(50) ,
@DateOfIssue datetime ,
@PlaceOfIssue nvarchar(50) ,
@Phone nvarchar(50) ,
@Fax nvarchar(50) ,
@Email nvarchar(250) ,
--@Picture image,
@CreateDate datetime,
@Login nvarchar(250), 
@MarialStatus nvarchar(250), 
@HireDate datetime, 
@Status int  
As
BEGIN 
	INSERT Employee(No_
      ,No_2
      ,LastName
      ,FirstName
      ,FullName
      ,Gender
      ,BirthDate
      ,PlaceOfBirth
      ,Address
      ,City
      ,JobTitle
      ,Department
      ,IDCard
      ,DateOfIssue
      ,PlaceOfIssue
      ,Phone
      ,Fax
      ,Email
      --,Picture
      ,CreateDate
      ,Login
      ,MarialStatus
      ,HireDate
      ,Status)
	VALUES(@No_
      ,@No_2
      ,@LastName
      ,@FirstName
      ,@FullName
      ,@Gender
      ,@BirthDate
      ,@PlaceOfBirth
      ,@Address
      ,@City
      ,@JobTitle
      ,@Department
      ,@IDCard
      ,@DateOfIssue
      ,@PlaceOfIssue
      ,@Phone
      ,@Fax
      ,@Email
      --,@Picture
      ,@CreateDate
      ,@Login
      ,@MarialStatus
      ,@HireDate
      ,@Status)
	
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_GetList]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Employee_GetList]

As
BEGIN 
	SELECT * FROM Employee
	
END
GO
/****** Object:  StoredProcedure [dbo].[Employee_Delete]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Employee_Delete]
@No_ nvarchar(50)
AS
BEGIN
	delete Employee where No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Department_Update]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Department_Update]
@No_ nvarchar(100),
@Name nvarchar(200)
AS
BEGIN
	UPDATE Department
	SET Name=@Name
	WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Department_Insert]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Department_Insert]
@No_ nvarchar(100),
@Name nvarchar(200)
AS
BEGIN
	INSERT Department(No_,Name)
	VALUES(@No_,@Name)
END
GO
/****** Object:  StoredProcedure [dbo].[Department_GetList]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Department_GetList]
AS
BEGIN
	select * from Department
END
GO
/****** Object:  StoredProcedure [dbo].[Department_Delete]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Department_Delete]
@No_ nvarchar(100) 
AS
BEGIN
	DELETE Department WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Customer_Update]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Customer_Update]
      @No_ varchar(100),
      @No_2 varchar(100),
      @Name  nvarchar(100),
      @SearchName  nvarchar(100),
      @Address  nvarchar(100),
      @Country  nvarchar(100), 
      @Phone  nvarchar(100),
      @Fax  nvarchar(100), 
      @Email  nvarchar(100),
      @Website  nvarchar(100),
      @Contact  nvarchar(100),
      @ContactPhone  nvarchar(100),
      @PostingDate datetime,
      @UserID  nvarchar(100),
      @Status  numeric
AS
BEGIN
	UPDATE Customer
	SET No_2	=	@No_2,
		Name	=	@Name,
		SearchName	= @SearchName,
		Address		=	@Address,
		Country		= @Country, 
		Phone		= @Phone,
		Fax			= @Fax, 
		Email		= @Email,
		Website		= @Website,
		Contact		= @Contact,
		ContactPhone	= @ContactPhone,
		PostingDate	= @PostingDate,
		UserID		= @UserID,
		Status		= @Status 
	WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Customer_Insert]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Customer_Insert]
      @No_ varchar(100),
      @No_2 varchar(100),
      @Name  nvarchar(100),
      @SearchName  nvarchar(100),
      @Address  nvarchar(100),
      @Country  nvarchar(100), 
      @Phone  nvarchar(100),
      @Fax  nvarchar(100), 
      @Email  nvarchar(100),
      @Website  nvarchar(100),
      @Contact  nvarchar(100),
      @ContactPhone  nvarchar(100),
      @PostingDate datetime,
      @UserID  nvarchar(100),
      @Status  numeric
AS
BEGIN
	INSERT Customer(No_,No_2,Name,SearchName,Address,Country,Phone,Fax,Email,Website,Contact,ContactPhone,PostingDate,UserID,Status)
	VALUES (@No_,@No_2,@Name,@SearchName,@Address,@Country,@Phone,@Fax,@Email,@Website,@Contact,@ContactPhone,@PostingDate,@UserID,@Status)
END
GO
/****** Object:  StoredProcedure [dbo].[Customer_GetList]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Customer_GetList]
AS
BEGIN
	
	SELECT * FROM Customer
END
GO
/****** Object:  StoredProcedure [dbo].[Customer_GetDataByCondition]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Customer_GetDataByCondition]
@No_ varchar(50),
@Name nvarchar(250),
@SearchName nvarchar(250),
@Address nvarchar(250)
AS
BEGIN
	SELECT	   [No_],[Name],[SearchName],[Country],[Address] 
			  ,[Phone],[Fax],[Email],[Website],[Contact]
			  ,[ContactPhone],[UserID] 
	FROM [dbo].[Customer]
	WHERE No_ LIKE '%'+@No_+'%' 
			AND Name LIKE '%'+@Name+'%' 
			AND SearchName LIKE '%' + @SearchName + '%' 
			AND Address LIKE '%' + @Address + '%' 
END
GO
/****** Object:  StoredProcedure [dbo].[Customer_Delete]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Customer_Delete]
@No_ nvarchar(100)
AS
BEGIN
	Delete Customer	where No_=@No_	 
END
GO
/****** Object:  StoredProcedure [dbo].[Country_GetList]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Country_GetList]
AS
BEGIN
	SELECT RowID,No_,Name FROM Country
END
GO
/****** Object:  StoredProcedure [dbo].[Cell_Update]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Cell_Update]
@No_ nvarchar(50),
@Status numeric
AS
BEGIN
	UPDATE Cell
	SET Status =@Status
	WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[Cell_GetListByCondition]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Cell_GetListByCondition]
@No_ nvarchar(50),
@LineNo_ nvarchar(50),
@FloorNo_ numeric,
@IndexNo_ numeric,
@Position nvarchar(50),
@LocationNo_ nvarchar(50),
@Status numeric
AS
BEGIN
	SELECT * FROM Cell 
	WHERE   No_ LIKE '%'+ @No_+'%' 
			AND LineNo_ LIKE '%'+@LineNo_+'%' 
			AND FloorNo_ LIKE '%' + @FloorNo_ + '%' 
			AND IndexNo_ LIKE '%' + @IndexNo_ + '%' 
			AND Position LIKE '%' + @Position + '%' 
			AND LocationNo_ LIKE '%' + @LocationNo_ + '%' 
			--AND Status LIKE '%' + @Status + '%' 
	and Status=0
END
GO
/****** Object:  StoredProcedure [dbo].[AutoCreateSeries]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
 
CREATE Proc [dbo].[AutoCreateSeries]
@NewSeries nvarchar(50) output,
@SeriesCode nvarchar(50),
@Code nvarchar(50)
AS
BEGIN 
BEGIN TRAN CreateSeries
	declare @StartingNo varchar(50)
	declare @LastUseNo_ numeric
	declare @LastNo_ numeric
	Declare @EndingNo_ numeric
	Declare @Imcrement numeric

	SELECT @StartingNo=StartingNo,@EndingNo_=EndingNo,@Imcrement=ImcrementNo,@LastUseNo_=LastNoUsed 
	FROM NoSeries WHERE SeriesCode=@SeriesCode AND Code=@Code
	set @LastNo_=@LastUseNo_+@Imcrement 
	set @NewSeries=REPLACE(space(len(@EndingNo_) - len(@LastNo_)),' ','0')  
	set @NewSeries=@StartingNo + @NewSeries + CONVERT(nvarchar(50), @LastNo_ ) 
	
	UPDATE NoSeries
	SET LastNoUsed=@LastNo_ 
	WHERE SeriesCode=@SeriesCode AND Code=@Code
COMMIT TRAN CreateSeries
END
GO
/****** Object:  StoredProcedure [dbo].[ReceiptNote_Complete]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ReceiptNote_Complete]
@Status int,
@No_ varchar(50),
@PostingDate datetime,
@DocumentDate datetime,
@UserID varchar(50) 
AS
BEGIN
	BEGIN TRAN TRAN_A 
		 UPDATE CellDetail 
		 SET	[DocumentDate]=@DocumentDate,
				[PostingDate]=@PostingDate,
				UserID=@UserID 
		 WHERE DocumentNo_=@No_
		 
		 UPDATE JournalEntry
		 SET	[DocumentDate]=@DocumentDate,
				[PostingDate]=@PostingDate,
				UserID=@UserID ,
				Status=@Status
		 WHERE DocumentNo_=@No_
		 
		 UPDATE JournalReceiveHeader 
		 SET [Status]=@Status,
			[UserID]=@UserID,
			[PostingDate]=@PostingDate
		 WHERE No_=@No_
		UPDATE JournalReceiveLine 
		SET Status=@Status,
			[UserID]=@UserID,
			PostingDate=@PostingDate
		WHERE DocumentNo_=@No_ 
	COMMIT TRAN TRAN_A
END
GO
/****** Object:  StoredProcedure [dbo].[MainFuntion_GetList]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MainFuntion_GetList]
AS
BEGIN
	SELECT * FROM MainFunction
END
GO
/****** Object:  StoredProcedure [dbo].[JournalExportHeader_Insert]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalExportHeader_Insert]
@No_ nvarchar(50),
@CustomerNo_ nvarchar(50),
@PostingDate datetime,
@DocumentDate datetime,
@DocumentType int,
@Receiver nvarchar(50),
@CarNo_ nvarchar(50),
@CarType nvarchar(50),
@Driver nvarchar(50),
@LocationNo_ nvarchar(50),
@ReasonCode nvarchar(50),
@EmployeeNo_ nvarchar(50),
@Status int,
@Description nvarchar(50),
@UserID nvarchar(50)
AS
BEGIN
	INSERT JournalExportHeader( [No_]
      ,[CustomerNo_]
      ,[PostingDate]
      ,[DocumentDate]
      ,[DocumentType]
      ,[Receiver]
      ,[CarNo_]
      ,[CarType]
      ,[Driver]
      ,[LocationNo_]
      ,[ReasonCode]
      ,[EmployeeNo_]
      ,[Status]
      ,[Description]
      ,[UserID])
      VALUES(  @No_
      ,@CustomerNo_
      ,@PostingDate
      ,@DocumentDate
      ,@DocumentType
      ,@Receiver
      ,@CarNo_
      ,@CarType
      ,@Driver
      ,@LocationNo_
      ,@ReasonCode
      ,@EmployeeNo_
      ,@Status
      ,@Description
      ,@UserID)
   
END
GO
/****** Object:  StoredProcedure [dbo].[JournalExportHeader_GetDataByCondition]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalExportHeader_GetDataByCondition]
@No_ nvarchar(50),
@Status int,
@FromDate datetime,
@ToDate datetime,
@LocationNo_ nvarchar(50),
@CustomerNo_ nvarchar(50),
@CustomerName nvarchar(250)
AS
BEGIN
	SELECT	R.RowID,r.No_,CustomerNo_,Name,LocationNo_,r.PostingDate,DocumentDate,Receiver,CarType,CarNo_,DocumentType,EmployeeNo_,R.Status,R.Description,R.UserID
	FROM	dbo.JournalExportHeader R INNER JOIN
			dbo.Customer C ON R.CustomerNo_= c.No_
	WHERE R.Status =@Status
			AND DocumentDate BETWEEN @FromDate AND @ToDate
			AND LocationNo_ LIKE '%' + @LocationNo_	+ '%' 
			AND CustomerNo_ LIKE '%' + @CustomerNo_+ '%' 
			AND R.No_ LIKE '%' + @No_+ '%' 
			AND C.Name LIKE '%' + @CustomerName + '%' 
	 
END
GO
/****** Object:  StoredProcedure [dbo].[LookUpReceiveItem_GetList]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LookUpReceiveItem_GetList]
@No_ NVarChar(50),
@Name NVarChar(250),
@SearchName NVarChar(50),
@ItemGroup NVarChar(50)
AS
BEGIN
	/****** Script for SelectTopNRows command from SSMS  ******/
	SELECT No_,Name,SearchName,Unit,qtyPerUnit,UnitDetail,ItemGroup,NetWeight,
			GrossWeight,Description,UnitImport,UnitExport,UnitStock
	FROM Item
	WHERE No_ LIKE '%'+@No_+'%' 
			AND Name LIKE '%'+@Name+'%' 
			AND SearchName LIKE '%' + @SearchName + '%' 
			AND ItemGroup LIKE '%' + @ItemGroup + '%' 
END
GO
/****** Object:  StoredProcedure [dbo].[Login2System]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Login2System]
@username varchar(20),
@password varchar(20)
AS
BEGIN
	select * from [Login] where Username=@username and [Password]=@password and IsUsed=1	 
END
GO
/****** Object:  StoredProcedure [dbo].[Login_Update]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Login_Update] 
@UserName varchar(50),
@Password varchar(50),
@EmployeeID varchar(50),
@GroupUser varchar(50)
AS
BEGIN 
	UPDATE Login
	SET Password = @Password,
		EmployeeID = @EmployeeID,
		GroupUser = @GroupUser
	WHERE UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[Login_Insert]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Login_Insert]
@UserName varchar(50),
@Password varchar(50),
@EmployeeID varchar(50),
@GroupUser varchar(50)
AS
BEGIN 
	INSERT Login(UserName,Password,EmployeeID,GroupUser,IsUsed)
	VALUES(@UserName,@Password,@EmployeeID,@GroupUser,1)
END
GO
/****** Object:  StoredProcedure [dbo].[Login_GetList]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Login_GetList]
AS
BEGIN
	SELECT * FROM Login
END
GO
/****** Object:  StoredProcedure [dbo].[Login_Delete]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Login_Delete]
@UserName varchar(50)
AS
BEGIN 
	DELETE Login where UserName=@UserName
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveLine_Update]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveLine_Update]
@RowID int,
@DocumentNo_ nvarchar(50),
@ItemNo_ nvarchar(50),
@Type nvarchar(50),
@Size nvarchar(50),
@LotNo_ nvarchar(50),
@Quantity numeric(18,4),
@Unit nvarchar(50),
@QtyperUnit numeric(18,4),
@QtytoPakge numeric(18,4),
@UnitPakge nvarchar(50),
@UnitPrice numeric(18,4),
@VAT numeric(18,4),
@LineDiscount numeric(18,4),
@QtyInPallet numeric(18,4),
@NetWeight numeric(18,4),
@TotalNet numeric(18,4),
@GrossWeight numeric(18,4),
@TotalGross numeric(18,4),
@ExpiryDate datetime,
@Description nvarchar(250),
@UserID nvarchar(50),
@Status int,
@Note nvarchar(50),
@PostingDate datetime,
@CustomDate datetime
AS
BEGIN
	UPDATE JournalReceiveLine
	set DocumentNo_ = 	@DocumentNo_,
		ItemNo_ = 	@ItemNo_,
		Type = 	@Type,
		Size = 	@Size,
		LotNo_ = 	@LotNo_,
		Quantity = 	@Quantity,
		Unit = 	@Unit,
		QtyperUnit = 	@QtyperUnit,
		QtytoPakge = 	@QtytoPakge,
		UnitPakge = 	@UnitPakge,
		UnitPrice = 	@UnitPrice,
		[VAT%] = 	@VAT,
		[LineDiscount%] = 	@LineDiscount,
		QtyInPallet = 	@QtyInPallet,
		NetWeight = 	@NetWeight,
		TotalNet = 	@TotalNet,
		GrossWeight = 	@GrossWeight,
		TotalGross = 	@TotalGross,
		ExpiryDate = 	@ExpiryDate,
		Description = 	@Description,
		UserID = 	@UserID,
		Status = 	@Status,
		Note = 	@Note,
		PostingDate = 	@PostingDate,
		CustomDate = 	@CustomDate
	WHERE RowID=@RowID
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveLine_LookupItem]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveLine_LookupItem]
@DocumentNo_ nvarchar(50)
AS
BEGIN
	SELECT ItemNo_, Name,R.Size,LotNo_,Quantity,r.Unit,UnitPrice,[VAT%] VAT,[LineDiscount%] LineDiscount,QtyInPallet,
	R.NetWeight,TotalNet,R.GrossWeight,TotalGross,ExpiryDate,R.Description,R.UserID 
	FROM JournalReceiveLine R, Item I 
	WHERE R.ItemNo_=I.No_
			and R.DocumentNo_=@DocumentNo_
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveLine_Insert]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveLine_Insert]
@DocumentNo_ nvarchar(50),
@ItemNo_ nvarchar(50),
@Type nvarchar(50),
@Size nvarchar(50),
@LotNo_ nvarchar(50),
@Quantity numeric(18,4),
@Unit nvarchar(50),
@QtyperUnit numeric(18,4),
@QtytoPakge numeric(18,4),
@UnitPakge nvarchar(50),
@UnitPrice numeric(18,4),
@VAT numeric(18,4),
@LineDiscount numeric(18,4),
@QtyInPallet numeric(18,4),
@NetWeight numeric(18,4),
@TotalNet numeric(18,4),
@GrossWeight numeric(18,4),
@TotalGross numeric(18,4),
@ExpiryDate datetime,
@Description nvarchar(250),
@UserID nvarchar(50),
@Status int,
@Note nvarchar(50),
@PostingDate datetime,
@CustomDate datetime
AS
BEGIN

INSERT JournalReceiveLine([DocumentNo_],[ItemNo_],[Type],[Size],[LotNo_],[Quantity],[Unit],[QtyperUnit],[QtytoPakge]
      ,[UnitPakge],[UnitPrice],[VAT%],[LineDiscount%],[QtyInPallet],[NetWeight],[TotalNet],[GrossWeight],[TotalGross]
      ,[ExpiryDate],[Description],[UserID],[Status],[Note],[PostingDate],[CustomDate]) 
VALUES (@DocumentNo_,@ItemNo_,@Type,@Size,@LotNo_,@Quantity,@Unit,@QtyperUnit,@QtytoPakge
      ,@UnitPakge,@UnitPrice,@VAT,@LineDiscount,@QtyInPallet,@NetWeight,@TotalNet,@GrossWeight,@TotalGross
      ,@ExpiryDate,@Description,@UserID,@Status,@Note,@PostingDate,@CustomDate)	  
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveLine_GetLine]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveLine_GetLine]
@DocumentNo_ nvarchar(50)
AS
BEGIN
	SELECT R.RowID,R.DocumentNo_,ItemNo_, Name,R.Size,LotNo_,Quantity,r.Unit,UnitPrice,[VAT%] VAT,[LineDiscount%] LineDiscount,QtyInPallet,
	R.NetWeight,TotalNet,R.GrossWeight,TotalGross,ExpiryDate,R.Description,R.UserID 
	FROM JournalReceiveLine R, Item I 
	WHERE R.ItemNo_=I.No_
			and R.DocumentNo_=@DocumentNo_
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveLine_Delete]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveLine_Delete]
@DocumentNo_ varchar(50),
@ItemNo_ varchar(50)
As
BEGIN 
	BEGIN TRAN TRAN_A
		DELETE JournalReceiveLine WHERE DocumentNo_=@DocumentNo_ AND ItemNo_=@ItemNo_
	COMMIT TRAN	TRAN_A		
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveLine_CheckExist]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveLine_CheckExist]
@RowCount numeric output,
@DocumentNo_ nvarchar(50),
@ItemNo_ nvarchar(50)
AS
BEGIN
	SET @RowCount= (SELECT COUNT(ItemNo_) FROM JournalReceiveLine WHERE DocumentNo_=@DocumentNo_ and ItemNo_=@ItemNo_)
	SET @RowCount=ISNULL(@RowCount,0)
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveHeader_UpdateStatus]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveHeader_UpdateStatus]
@No_ varchar(50),
@Status int
As
BEGIN 
	BEGIN TRAN TRAN_A
		UPDATE JournalReceiveHeader
		SET Status = @Status
		WHERE No_=@No_
		
		UPDATE JournalReceiveLine
		SET Status = @Status
		WHERE [DocumentNo_]=@No_
	COMMIT TRAN	TRAN_A		
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveHeader_Update]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveHeader_Update]
@No_ varchar(50),
@SupplierNo_ varchar(50),
@PostingDate datetime,
@DocumentDate datetime,
@Deliver nvarchar(50),
@CarType nvarchar(50),
@CarNo_ nvarchar(50),
@Driver nvarchar(50),
@DocumentType Int,
@EmployeeNo_ varchar(50),
@Status int,
@Description nvarchar(250),
@UserID varchar(50),
@LocationNo_ varchar(50),
@CreateDate datetime
As
BEGIN 
	UPDATE JournalReceiveHeader
	SET SupplierNo_ = @SupplierNo_,
		PostingDate = @PostingDate,
		DocumentDate = @DocumentDate,
		Deliver = @Deliver,
		CarType = @CarType,
		CarNo_ = @CarNo_,
		Driver = @Driver,
		DocumentType = @DocumentType,
		EmployeeNo_ = @EmployeeNo_,
		Status = @Status,
		Description = @Description,
		UserID = @UserID,
		LocationNo_ = @LocationNo_,
		CreateDate = @CreateDate
	WHERE No_=@No_	
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveHeader_Insert]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveHeader_Insert]
@No_ varchar(50),
@SupplierNo_ varchar(50),
@PostingDate datetime,
@DocumentDate datetime,
@Deliver nvarchar(50),
@CarType nvarchar(50),
@CarNo_ nvarchar(50),
@Driver nvarchar(50),
@DocumentType Int,
@EmployeeNo_ varchar(50),
@Status int,
@Description nvarchar(250),
@UserID varchar(50),
@LocationNo_ varchar(50),
@CreateDate datetime
As
BEGIN 
	INSERT JournalReceiveHeader([No_],[SupplierNo_],[PostingDate],[DocumentDate],[Deliver],[CarType],[CarNo_],[Driver],
								[DocumentType],[EmployeeNo_],[Status],[Description],[UserID],[LocationNo_],[CreateDate])
	VALUES(@No_,@SupplierNo_,@PostingDate,@DocumentDate,@Deliver,@CarType,@CarNo_,@Driver,
			@DocumentType,@EmployeeNo_,@Status,@Description,@UserID,@LocationNo_,@CreateDate)
	
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveHeader_GetReceiveToNo_]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveHeader_GetReceiveToNo_]
@No_ varchar(50)
As
BEGIN 
	SELECT * FROM JournalReceiveHeader WHERE No_=@No_
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveHeader_GetListDeliver]    Script Date: 09/09/2016 17:31:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveHeader_GetListDeliver]
AS
BEGIN
	SELECT	R.RowID,r.No_,SupplierNo_,Name,LocationNo_,r.PostingDate,DocumentDate,Deliver,CarType,CarNo_,DocumentType,EmployeeNo_,R.Status,R.Description,R.UserID
	FROM	dbo.JournalReceiveHeader R INNER JOIN
			dbo.Supplier s ON R.SupplierNo_ = s.No_
	WHERE R.Status=2		
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveHeader_GetList]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveHeader_GetList]
AS
BEGIN
	SELECT	R.RowID,r.No_,SupplierNo_,Name,LocationNo_,r.PostingDate,DocumentDate,Deliver,CarType,CarNo_,DocumentType,EmployeeNo_,R.Status,R.Description,R.UserID
	FROM	dbo.JournalReceiveHeader R INNER JOIN
			dbo.Supplier s ON R.SupplierNo_ = s.No_
	WHERE R.Status IN(0,1)			
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveHeader_GetDataByCondition]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveHeader_GetDataByCondition]
@No_ nvarchar(50),
@Status int,
@FromDate datetime,
@ToDate datetime,
@LocationNo_ nvarchar(50),
@SupplierNo_ nvarchar(50),
@SupplierName nvarchar(250)
AS
BEGIN
	SELECT	R.RowID,r.No_,SupplierNo_,Name,LocationNo_,r.PostingDate,DocumentDate,Deliver,CarType,CarNo_,DocumentType,EmployeeNo_,R.Status,R.Description,R.UserID
	FROM	dbo.JournalReceiveHeader R INNER JOIN
			dbo.Supplier s ON R.SupplierNo_ = s.No_
	WHERE R.Status =@Status
			AND DocumentDate BETWEEN @FromDate AND @ToDate
			AND LocationNo_ LIKE '%' + @LocationNo_	+ '%' 
			AND SupplierNo_ LIKE '%' + @SupplierNo_+ '%' 
			AND R.No_ LIKE '%' + @No_+ '%' 
			AND S.Name LIKE '%' + @SupplierName + '%' 
	
END
GO
/****** Object:  StoredProcedure [dbo].[JournalReceiveHeader_DeleteTran]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalReceiveHeader_DeleteTran]
@No_ varchar(50)
As
BEGIN 
	BEGIN TRAN TRAN_D
	INSERT INTO JournalReceiveHeaderDelete 
	SELECT * FROM  JournalReceiveHeader WHERE No_=@No_
	INSERT INTO JournalReceiveLineDelete 
	SELECT * FROM  JournalReceiveLine WHERE [DocumentNo_] =@No_
		DELETE JournalReceiveHeader WHERE No_=@No_
		DELETE JournalReceiveLine WHERE [DocumentNo_]=@No_
		
	COMMIT TRAN TRAN_D
END
GO
/****** Object:  StoredProcedure [dbo].[JournalExportLine_Insert]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalExportLine_Insert]
@DocumentNo_ nvarchar(50),
@ItemNo_ nvarchar(50),
@Type nvarchar(50),
@Size nvarchar(50),
@Quantity nvarchar(50),
@Unit nvarchar(50),
@UnitPrice nvarchar(50),  
@NetWeight nvarchar(50),
@TotalNet nvarchar(50),
@PalletNo_ nvarchar(50),
@CellNo_ nvarchar(50),
@Description nvarchar(50),
@DocumentDate nvarchar(50),
@PostingDate nvarchar(50),
@UserID nvarchar(50),
@Status nvarchar(50),
@LotNo_ nvarchar(50)
AS
BEGIN 
	INSERT JournalExportLine(DocumentNo_ ,ItemNo_ 
,Type 
,Size 
,Quantity 
,Unit 
,UnitPrice   
,NetWeight 
,TotalNet 
,PalletNo_ 
,CellNo_ 
,Description 
,DocumentDate 
,PostingDate 
,UserID 
,Status 
,LotNo_ )
	VALUES(
	@DocumentNo_ 
,@ItemNo_ 
,@Type 
,@Size 
,@Quantity 
,@Unit 
,@UnitPrice   
,@NetWeight 
,@TotalNet 
,@PalletNo_ 
,@CellNo_ 
,@Description 
,@DocumentDate 
,@PostingDate 
,@UserID 
,@Status 
,@LotNo_ )
END
GO
/****** Object:  StoredProcedure [dbo].[JournalExportLine_GetLine]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalExportLine_GetLine]
@DocumentNo_ nvarchar(50)
AS
BEGIN

	SELECT [DocumentNo_]
      ,[ItemNo_] 
      ,I.Name
      ,e.[Size]
      ,LotNo_
       ,[Quantity]
      ,E.[Unit] 
      ,E.[NetWeight]
      ,[TotalNet]
      ,[PalletNo_]
      ,[CellNo_]
      ,E.[Description] 
      ,E.[UserID]
      ,E.[Status]
	FROM JournalExportLine E, Item I 
	WHERE	E.ItemNo_=I.No_
			and E.DocumentNo_=@DocumentNo_
END
GO
/****** Object:  StoredProcedure [dbo].[ItemGroup_GetList]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ItemGroup_GetList]
AS
BEGIN 
	SELECT * FROM ItemGroup
END
GO
/****** Object:  StoredProcedure [dbo].[JournalEntry_PostFromReceiptNote]    Script Date: 09/09/2016 17:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[JournalEntry_PostFromReceiptNote]
@DocumentType Nvarchar(250),
@DocumentNo_ Nvarchar(250),
@CustomerNo_ Nvarchar(250),
@ItemNo_ Nvarchar(250),
@Type Nvarchar(250),
@Size Nvarchar(250),
@Quantity numeric(18,4),
@Unit Nvarchar(50),
@UnitPrice numeric(18,4),
@QtyperUnit numeric(18,4),
@QtytoPakge numeric(18,4),
@UnittoPakge Nvarchar(250),
@NetWeight numeric(18,4),
@TotalNet numeric(18,4),
@GrossWeight numeric(18,4),
@TotalGross numeric(18,4),
@Amount numeric(18,4),
@VAT numeric(18,4),
@LineDiscount numeric(18,4),
@TotalAmount numeric(18,4),
@PalletNo_ Nvarchar(250),
@CellNo_ Nvarchar(250),
@Description Nvarchar(250),
@ExpiryDate datetime,
@DocumentDate datetime,
@PostingDate datetime,
@UserID Nvarchar(250),
@Status int,
@LotNo_ nvarchar(50),
@qtyInPallet decimal,
@ReceiveNo_ nvarchar(50)
AS
BEGIN
	BEGIN TRAN TRAN_A
	
		EXEC JournalEntry_Insert @DocumentType,@DocumentNo_,@CustomerNo_,@ItemNo_, @Type, @Size,@Quantity,@Unit,@UnitPrice,@QtyperUnit,
				@QtytoPakge,@UnittoPakge,@NetWeight,@TotalNet,@GrossWeight,@TotalGross,@Amount,@VAT,@LineDiscount,@TotalAmount,
				@PalletNo_,@CellNo_,@Description,@ExpiryDate,@DocumentDate,@PostingDate,@UserID,@Status,@LotNo_, @qtyInPallet,@ReceiveNo_
				DECLARE @LockPallet int
				set @LockPallet=0
		EXEC CellDetail_Insert @DocumentNo_,@DocumentType,@CustomerNo_,@CellNo_,@PalletNo_,@LockPallet,@ItemNo_,@Type,@Size
								,@Quantity,@Unit,@QtyperUnit,@QtytoPakge,@UnittoPakge,@UnitPrice,@NetWeight,@TotalNet,@GrossWeight
								,@TotalGross,@ExpiryDate,@PostingDate,@DocumentDate,@Description,@UserID
		UPDATE JournalReceiveHeader
		SET Status=3
		WHERE No_=@DocumentNo_
		UPDATE JournalReceiveLine
		SET Status=3
		WHERE @DocumentNo_=@DocumentNo_
	
	COMMIT TRAN TRAN_A
END
GO
/****** Object:  Default [DF_JournalReceiveHeader_CreateDate]    Script Date: 09/09/2016 17:31:25 ******/
ALTER TABLE [dbo].[JournalReceiveHeader] ADD  CONSTRAINT [DF_JournalReceiveHeader_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_JournalReceiveHeaderDelete_CreateDate]    Script Date: 09/09/2016 17:31:25 ******/
ALTER TABLE [dbo].[JournalReceiveHeaderDelete] ADD  CONSTRAINT [DF_JournalReceiveHeaderDelete_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
